<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hele.hzjs.persistence.AnnouncementDao">

    <insert id="insertInfo" parameterType="com.hele.hzjs.model.Announcement" useGeneratedKeys="true" keyProperty="id">
		insert into announcement(title,create_member_scope_id,created_member_id,read_count,attachment,content,created_time,updated_time,version,status, importance)
		values(#{title},#{createMemberScopeId},#{createdMemberId},#{readCount},#{attachment},#{content},now(),now(),#{version},#{status}, #{importance});
	</insert>

    <insert id="insertRelationship" parameterType="hashmap" useGeneratedKeys="true">
		insert into announcement_scope_relationship(create_member_scope_id, announcement_id,scope_id,created_time,updated_time,version,status)
		values (#{createMemberScopeId}, #{announcementId},#{scopeId},now(),now(),#{version},#{status});
	</insert>

    <select id="getOne" parameterType="int" resultType="Announcement">
		SELECT announcement.*,
        organization_member.name AS create_member_name,
        (SELECT organization.name
        FROM organization_member, organization
        WHERE announcement.created_member_id =
        organization_member.id AND organization_member.organization_id = organization.id) AS create_organization_name
        FROM announcement LEFT JOIN organization_member ON announcement.created_member_id = organization_member.id
		where announcement.id = #{id} and announcement.status = 1
		limit 1;
	</select>

    <select id="getMany" parameterType="int" resultType="Announcement">
		select * from announcement
		where status = 1
		order by id desc
		limit #{num};
	</select>

    <update id="countRead" parameterType="int">
		update announcement
		set read_count = read_count + 1
		where id = #{id};
	</update>

    <update id="updateInfo" parameterType="Announcement">
        update announcement
        set
        <if test="title!=null">
            title = #{title},
        </if>
        <if test="createdMemberId!=null">
            created_member_id = #{createdMemberId},
        </if>
        <if test="readCount!=null">
            read_count = #{readCount},
        </if>
        <if test="attachment!=null">
            attachment = #{attachment},
        </if>
        <if test="content!=null">
            content = #{content},
        </if>
        <if test="version!=null">
            version = #{version},
        </if>
        <if test="status!=null">
            status = #{status},
        </if>
        <if test="importance != null">
            importance = #{importance},
        </if>
        updated_time = now()
        where id = #{id};
    </update>

    <update id="updateRelationship" parameterType="hashmap">
		update announcement_scope_relationship
		set scope = #{scope},updated_time = now()
		where announcement_id = #{id};
	</update>

    <update id="deleteInfo" parameterType="int">
		update announcement
		set status = 0,
		updated_time = now()
		where id = #{id};
	</update>

    <update id="deleteRelationship" parameterType="int">
		update announcement_scope_relationship
		set status = 0,
		updated_time = now()
		where announcement_id = #{id};
	</update>

    <select id="getPageCount" parameterType="hashmap" resultType="int">
        SELECT COUNT(announcement.id)
        FROM announcement
        <where>
            announcement.status = 1
            <if test="title != null and title != ''">
                AND announcement.title like concat('%',#{title},'%')
            </if>
        </where>
    </select>

    <select id="selectAnnouncementInfo" parameterType="com.hele.hzjs.model.param.AnnouncementParam" resultType="com.hele.hzjs.model.Announcement">
        SELECT *, (SELECT organization_member.name FROM organization_member WHERE organization_member.id =
        announcement.created_member_id) AS create_member_name
        FROM announcement
        <where>
            announcement.status = 1
            <if test="title != null and title != '' ">
                AND announcement.title like concat('%',#{title},'%')
            </if>
        </where>
        ORDER BY announcement.id DESC
        <if test="offset!=null and size!=null">
            limit #{offset},#{size}
        </if>
    </select>

</mapper>