<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hele.hzjs.persistence.FloatingPopulationReportDao">

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.hele.hzjs.model.report.FloatingPopulationReport">
    select *
    from floating_population_report
    where id = #{id} and status = 1
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update floating_population_report
    set status = 0,
    updated_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.hele.hzjs.model.report.FloatingPopulationReport">
    insert into floating_population_report (scope_id, name, report_person_id,
      level, type, address, 
      zhigong_number, liudongrk_number, liudongrkjsxjl_date, 
      huiyuan_number, liudong_male_number, liudong_female_number, 
      liudong_unmarried_number, liudong_married_number, 
      created_time, updated_time, version, 
      status)
    values (#{scopeId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{reportPersonId,jdbcType=INTEGER},
      #{level,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{zhigongNumber,jdbcType=INTEGER}, #{liudongrkNumber,jdbcType=INTEGER}, #{liudongrkjsxjlDate,jdbcType=DATE}, 
      #{huiyuanNumber,jdbcType=INTEGER}, #{liudongMaleNumber,jdbcType=INTEGER}, #{liudongFemaleNumber,jdbcType=INTEGER}, 
      #{liudongUnmarriedNumber,jdbcType=INTEGER}, #{liudongMarriedNumber,jdbcType=INTEGER}, 
      now(), now(), #{version,jdbcType=VARCHAR},
      1)
  </insert>
  <insert id="insertSelective" parameterType="com.hele.hzjs.model.report.FloatingPopulationReport">
    insert into floating_population_report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scopeId != null">
        scope_id,
      </if>
      <if test="reportPersonId != null">
        report_person_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="zhigongNumber != null">
        zhigong_number,
      </if>
      <if test="liudongrkNumber != null">
        liudongrk_number,
      </if>
      <if test="liudongrkjsxjlDate != null">
        liudongrkjsxjl_date,
      </if>
      <if test="huiyuanNumber != null">
        huiyuan_number,
      </if>
      <if test="liudongMaleNumber != null">
        liudong_male_number,
      </if>
      <if test="liudongFemaleNumber != null">
        liudong_female_number,
      </if>
      <if test="liudongUnmarriedNumber != null">
        liudong_unmarried_number,
      </if>
      <if test="liudongMarriedNumber != null">
        liudong_married_number,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scopeId != null">
        #{scopeId,jdbcType=INTEGER},
      </if>
      <if test="reportPersonId != null">
        #{reportPersonId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="zhigongNumber != null">
        #{zhigongNumber,jdbcType=INTEGER},
      </if>
      <if test="liudongrkNumber != null">
        #{liudongrkNumber,jdbcType=INTEGER},
      </if>
      <if test="liudongrkjsxjlDate != null">
        #{liudongrkjsxjlDate,jdbcType=DATE},
      </if>
      <if test="huiyuanNumber != null">
        #{huiyuanNumber,jdbcType=INTEGER},
      </if>
      <if test="liudongMaleNumber != null">
        #{liudongMaleNumber,jdbcType=INTEGER},
      </if>
      <if test="liudongFemaleNumber != null">
        #{liudongFemaleNumber,jdbcType=INTEGER},
      </if>
      <if test="liudongUnmarriedNumber != null">
        #{liudongUnmarriedNumber,jdbcType=INTEGER},
      </if>
      <if test="liudongMarriedNumber != null">
        #{liudongMarriedNumber,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        now(),
      </if>
      <if test="updatedTime != null">
        now(),
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        1,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hele.hzjs.model.report.FloatingPopulationReport">
    update floating_population_report
    <set>
      <if test="scopeId != null">
        scope_id = #{scopeId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="zhigongNumber != null">
        zhigong_number = #{zhigongNumber,jdbcType=INTEGER},
      </if>
      <if test="liudongrkNumber != null">
        liudongrk_number = #{liudongrkNumber,jdbcType=INTEGER},
      </if>
      <if test="liudongrkjsxjlDate != null">
        liudongrkjsxjl_date = #{liudongrkjsxjlDate,jdbcType=DATE},
      </if>
      <if test="huiyuanNumber != null">
        huiyuan_number = #{huiyuanNumber,jdbcType=INTEGER},
      </if>
      <if test="liudongMaleNumber != null">
        liudong_male_number = #{liudongMaleNumber,jdbcType=INTEGER},
      </if>
      <if test="liudongFemaleNumber != null">
        liudong_female_number = #{liudongFemaleNumber,jdbcType=INTEGER},
      </if>
      <if test="liudongUnmarriedNumber != null">
        liudong_unmarried_number = #{liudongUnmarriedNumber,jdbcType=INTEGER},
      </if>
      <if test="liudongMarriedNumber != null">
        liudong_married_number = #{liudongMarriedNumber,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hele.hzjs.model.report.FloatingPopulationReport">
    update floating_population_report
    set scope_id = #{scopeId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      zhigong_number = #{zhigongNumber,jdbcType=INTEGER},
      liudongrk_number = #{liudongrkNumber,jdbcType=INTEGER},
      liudongrkjsxjl_date = #{liudongrkjsxjlDate,jdbcType=DATE},
      huiyuan_number = #{huiyuanNumber,jdbcType=INTEGER},
      liudong_male_number = #{liudongMaleNumber,jdbcType=INTEGER},
      liudong_female_number = #{liudongFemaleNumber,jdbcType=INTEGER},
      liudong_unmarried_number = #{liudongUnmarriedNumber,jdbcType=INTEGER},
      liudong_married_number = #{liudongMarriedNumber,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getYears" resultType="int">
      select distinct year(created_time)
      from floating_population_report
      order by year(created_time) desc;
  </select>

  <select id="selectChildrenStatus" resultType="com.hele.hzjs.model.report.FloatingPopulationReport">
    select organization_name ,sum(child_status) as child_status,scope_id
    from(select o.name as organization_name,
    case when year(fpr.created_time) = year(now()) and fpr.scope_id = osr.scope_id then 1 else null end as child_status,
    osr.scope_id as scope_id
    FROM organization_scope_relationship osr
    left join floating_population_report fpr on osr.scope_id = fpr.scope_id
    left join organization o on o.id = osr.organization_id
    WHERE o.parent_organization_id = 32 and (year(fpr.created_time) = year(now()) or osr.id is not null) and osr.status = 1) as tmp
    group by organization_name
    order by child_status desc,scope_id
    <if test="offset!=null and size!=null">
      LIMIT #{offset},#{size};
    </if>
  </select>

  <select id="selectByConditionPageCount" parameterType="com.hele.hzjs.model.param.FloatingPopulationReportParam" resultType="int">
      select count(*)
      from floating_population_report fpr left join organization_member om on fpr.report_person_id = om.id
      left join organization_scope_relationship osr on fpr.scope_id = osr.scope_id
      where fpr.scope_id = #{scopeId} and year(fpr.created_time) = #{year} and fpr.status = 1
      order by fpr.created_time desc
  </select>

  <select id="selectByCondition" parameterType="com.hele.hzjs.model.param.FloatingPopulationReportParam" resultType="com.hele.hzjs.model.report.FloatingPopulationReport">
      select fpr.*,om.name as report_person_name,osr.name as scopeName
      from floating_population_report fpr left join organization_member om on fpr.report_person_id = om.id
      left join organization_scope_relationship osr on fpr.scope_id = osr.scope_id
      where fpr.scope_id = #{scopeId} and year(fpr.created_time) = #{year} and fpr.status = 1
      order by fpr.created_time desc
  </select>

  <select id="selectByQu" parameterType="com.hele.hzjs.model.param.FloatingPopulationReportParam" resultType="com.hele.hzjs.model.report.FloatingPopulationReport">
      select relation.scope_id as scope_id, relation.name as scope_name,zhigong_number,liudongrk_number,huiyuan_number,
      liudong_male_number,liudong_female_number,liudong_unmarried_number,liudong_married_number
      from organization_scope_relationship relation
      left join
      (select fpr.scope_id as scope_id,
      osr.name as scope_name,
      sum(fpr.zhigong_number) as zhigong_number,
      sum(fpr.liudongrk_number) as liudongrk_number,
      sum(fpr.huiyuan_number) as huiyuan_number,
      sum(fpr.liudong_male_number) as liudong_male_number,
      sum(fpr.liudong_female_number) as liudong_female_number,
      sum(fpr.liudong_unmarried_number) as liudong_unmarried_number,
      sum(fpr.liudong_married_number) as liudong_married_number
      from floating_population_report fpr
      left join organization_scope_relationship osr on fpr.scope_id = osr.scope_id
      where year(fpr.created_time) = #{year}
      group by scope_id
      order by scope_id) as kk on kk.scope_id = relation.scope_id
      where relation.scope_id % 10000 = 0 and relation.scope_id != 0
  </select>

  <select id="selectTotal" parameterType="com.hele.hzjs.model.param.FloatingPopulationReportParam" resultType="com.hele.hzjs.model.report.FloatingPopulationReport">
      select fpr.scope_id as scope_id,
      sum(fpr.zhigong_number) as zhigong_number,
      sum(fpr.liudongrk_number) as liudongrk_number,
      sum(fpr.huiyuan_number) as huiyuan_number,
      sum(fpr.liudong_male_number) as liudong_male_number,
      sum(fpr.liudong_female_number) as liudong_female_number,
      sum(fpr.liudong_unmarried_number) as liudong_unmarried_number,
      sum(fpr.liudong_married_number) as liudong_married_number
      from floating_population_report fpr
      left join organization_scope_relationship osr on fpr.scope_id = osr.scope_id
      where year(fpr.created_time) = #{year}
  </select>
</mapper>