<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hele.hzjs.persistence.HuiyuanDao">

  <insert id="insert" parameterType="com.hele.hzjs.model.Huiyuan">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into huiyuan (name, sex, card_no, 
      address, mobile,
      attachment, scope_id,
      political, service_type, hobby, volunteer_status, huiyuan_type,
      notify_status, created_time,
      updated_time, version, status, 
      description, point)
    values (#{name,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{cardNo,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
      #{attachment,jdbcType=VARCHAR}, #{scopeId,jdbcType=INTEGER},
      #{political,jdbcType=INTEGER}, #{serviceType,jdbcType=VARCHAR}, #{hobby,jdbcType=VARCHAR},
      0, #{huiyuanType,jdbcType=INTEGER},
      #{notifyStatus,jdbcType=INTEGER}, now(),
      now(), #{version,jdbcType=VARCHAR}, 1,
      #{description,jdbcType=LONGVARCHAR}, 0)
  </insert>

  <insert id="insertSelective" parameterType="com.hele.hzjs.model.Huiyuan" keyProperty="id" useGeneratedKeys="true">
    insert into huiyuan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="cardNo != null">
        card_no,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="attachment != null">
        attachment,
      </if>
      <if test="scopeId != null">
        scope_id,
      </if>
      <if test="political != null">
        political,
      </if>
      <if test="serviceType != null">
        service_type,
      </if>
      <if test="hobby != null">
        hobby,
      </if>
      <if test="huiyuanType != null">
        huiyuan_type,
      </if>
      <if test="notifyStatus != null">
        notify_status,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="description != null">
        description,
      </if>
      volunteer_status,
      created_time,
      updated_time,
      status,
      point
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="cardNo != null">
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null">
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="scopeId != null">
        #{scopeId,jdbcType=INTEGER},
      </if>
      <if test="political != null">
        #{political,jdbcType=INTEGER},
      </if>
      <if test="serviceType != null">
        #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null">
        #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="volunteerStatus != null">
        #{volunteerStatus,jdbcType=INTEGER},
      </if>
      <if test="huiyuanType != null">
        #{huiyuanType,jdbcType=INTEGER},
      </if>
      <if test="notifyStatus != null">
        #{notifyStatus,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      0,
      now(),
      now(),
      1,
      0
    </trim>
  </insert>

  <select id="getHuiyuanPageCount" parameterType="com.hele.hzjs.model.param.HuiyuanParam" resultType="int">
    select count(*) from huiyuan
    left join organization_scope_relationship on huiyuan.scope_id = organization_scope_relationship.scope_id
    <if test="medical != null and medical != 0">
      left join jiuzhen_record jz on huiyuan.card_no = jz.card_no
    </if>
    <where>
      huiyuan.status = 1
      <if test="scopeLeft!=null and scopeLeft!=0 ">
        and organization_scope_relationship.scope_id >= #{scopeLeft} and #{scopeRight} >= organization_scope_relationship.scope_id
      </if>
      <if test="volunteerStatus!=null">
          and huiyuan.volunteer_status = #{volunteerStatus}
      </if>
      <if test="huiyuanName!=null and huiyuanName!=''">
        and  huiyuan.name like concat('%',#{huiyuanName},'%')
      </if>
      <if test="medical != null and medical != 0">
        and jz.created_time between #{medicalBeforeTime} and #{medicalNowTime}
      </if>
    </where>
  </select>

  <select id="getActivityPageCount" parameterType="com.hele.hzjs.model.param.HuiyuanParam" resultType="int">
    select count(*)
    from huiyuan_activity ha left join activity a on ha.activity_id = a.id
    <where>
      ha.status = 1 and ha.huiyuan_id = #{id}
      and ha.volunteer_apply_status = #{volunteerStatus}
    </where>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="Huiyuan">
    select
    huiyuan.*,
    record.result as volunteer_apply_result
    from huiyuan
    left join volunteer_approval_record record on record.huiyuan_id = huiyuan.id
    where huiyuan.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByCondition" parameterType="com.hele.hzjs.model.param.HuiyuanParam" resultType="com.hele.hzjs.model.Huiyuan">
    select
    <if test="medical != null and medical != 0">
    distinct jz.insititution_name,max(jz.created_time) as jiuzhen_date,
    </if>
    huiyuan.*
    from huiyuan left join organization_scope_relationship on huiyuan.scope_id = organization_scope_relationship.scope_id
    <if test="medical != null and medical != 0">
      left join jiuzhen_record jz on huiyuan.card_no = jz.card_no
    </if>
    <where>
      huiyuan.status = 1
      <if test="scopeLeft!=null and scopeLeft!=0 ">
        and organization_scope_relationship.scope_id >= #{scopeLeft} and #{scopeRight} >= organization_scope_relationship.scope_id
      </if>
      <if test="volunteerStatus!=null">
          and huiyuan.volunteer_status = #{volunteerStatus}
      </if>
      <if test="huiyuanName!=null and huiyuanName!=''">
        and  huiyuan.name like concat('%',#{huiyuanName},'%')
      </if>
      <if test="medical != null and medical != 0">
        and jz.created_time between #{medicalBeforeTime} and #{medicalNowTime}
      </if>
    </where>
    <if test="medical != null and medical != 0">
      group by huiyuan.card_no
    </if>
    order by
    <if test="medical != null and medical != 0">
      jiuzhen_date desc,
    </if>
    field(huiyuan.scope_id-huiyuan.scope_id%10000,#{userScope}-#{userScope}%10000)desc ,field(huiyuan.scope_id-huiyuan.scope_id%100,#{userScope}-#{userScope}%100)desc,field(huiyuan.scope_id, #{userScope}) desc
    <if test="offset!=null and size!=null">
      limit #{offset},#{size};
    </if>
  </select>

  <select id="selectByCondition2" parameterType="com.hele.hzjs.model.param.HuiyuanParam" resultType="com.hele.hzjs.model.Huiyuan">
    select
    <if test="medical != null and medical != 0">
      distinct jz.insititution_name,max(jz.created_time) as jiuzhen_date,
    </if>
    huiyuan.*
    from huiyuan left join organization_scope_relationship on huiyuan.scope_id = organization_scope_relationship.scope_id
    <if test="medical != null and medical != 0">
      left join jiuzhen_record jz on huiyuan.card_no = jz.card_no
    </if>
    <where>
      huiyuan.status = 1
      <if test="scopeLeft!=null and scopeLeft!=0 ">
        and organization_scope_relationship.scope_id >= #{scopeLeft} and #{scopeRight} >= organization_scope_relationship.scope_id
      </if>
      <if test="volunteerStatus!=null">
          and huiyuan.volunteer_status = #{volunteerStatus}
      </if>
      <if test="huiyuanName!=null and huiyuanName!=''">
        and  huiyuan.name like concat('%',#{huiyuanName},'%')
      </if>
      <if test="medical != null and medical != 0">
        and jz.created_time between #{medicalBeforeTime} and #{medicalNowTime}
      </if>
    </where>
    <if test="medical != null and medical != 0">
      group by huiyuan.card_no
    </if>
    order by
    <if test="medical != null and medical != 0">
      jiuzhen_date desc,
    </if>
    field(huiyuan.scope_id,#{userScope}-#{userScope}%100) desc ,field(huiyuan.scope_id,#{userScope}) desc,huiyuan.scope_id
  </select>

  <select id="getActivityByHuiyuanId" parameterType="com.hele.hzjs.model.param.HuiyuanParam" resultType="com.hele.hzjs.model.HuiyuanActivity">
    select ha.*,a.start_time as start_time,a.end_time as end_time,a.title as title,
    (SELECT osr.name
    FROM activity_scope_relationship asr LEFT JOIN organization_scope_relationship osr ON asr.scope_id = osr.scope_id
    WHERE asr.status = 1 AND asr.activity_id = a.id
    limit 1) as activity_scope
    from huiyuan_activity ha left join activity a on ha.activity_id = a.id
    <where>
      ha.status = 1 and ha.huiyuan_id = #{id}
      and ha.volunteer_apply_status = #{volunteerStatus}
    </where>
    <if test="offset!=null and size!=null">
      limit #{offset},#{size};
    </if>
  </select>

  <update id="deleteByPrimaryKey" parameterType="Integer">
    update huiyuan
    set status = 0,
    updated_time = now()
    where id = #{id};
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.hele.hzjs.model.Huiyuan">
    update huiyuan
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="cardNo != null">
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null">
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="scopeId != null">
        scope_id = #{scopeId,jdbcType=INTEGER},
      </if>
      <if test="political != null">
        political = #{political,jdbcType=INTEGER},
      </if>
      <if test="serviceType != null">
        service_type = #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null">
        hobby = #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="volunteerStatus != null">
        volunteer_status = #{volunteerStatus,jdbcType=INTEGER},
      </if>
      <if test="huiyuanType != null">
        huiyuan_type = #{huiyuanType,jdbcType=INTEGER},
      </if>
      <if test="notifyStatus != null">
        notify_status = #{notifyStatus,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      updated_time = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hele.hzjs.model.Huiyuan">
    update huiyuan
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      card_no = #{cardNo,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      scope_id = #{scopeId,jdbcType=INTEGER},
      political = #{political,jdbcType=INTEGER},
      service_type = #{serviceType,jdbcType=VARCHAR},
      hobby = #{hobby,jdbcType=VARCHAR},
      volunteer_status = #{volunteerStatus,jdbcType=INTEGER},
      huiyuan_type = #{huiyuanType,jdbcType=INTEGER},
      notify_status = #{notifyStatus,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = now(),
      version = #{version,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertRecord" keyProperty="id" useGeneratedKeys="true">
    insert into volunteer_approval_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      huiyuan_id,result,created_time,updated_time,status
      <if test="version != null">
        ,version
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{huiyuanId},1,now(),now(),1
      <if test="version != null">
        ,#{version}
      </if>
    </trim>

    ON DUPLICATE key update status = 1, updated_time=now(),result = 2

  </insert>

  <update id="updateRecord" parameterType="com.hele.hzjs.model.VolunteerApprovalRecord">
    update volunteer_approval_record
    set approval_id = #{approvalId},
    approval_name = #{approvalName},
    result = #{result},
    updated_time=now()
    where huiyuan_id = #{huiyuanId};
  </update>

  <select id="getVolunteerApprovalRecordPageCount" parameterType="com.hele.hzjs.model.param.HuiyuanParam" resultType="Integer">
      select count(*) from volunteer_approval_record
      where approval_id = #{id} and result != 2 and status = 1;
  </select>

  <select id="getVolunteerApprovalRecord" parameterType="com.hele.hzjs.model.param.HuiyuanParam" resultType="com.hele.hzjs.model.VolunteerApprovalRecord">
      select var.*,huiyuan.name as name,huiyuan.mobile as mobile,huiyuan.card_no as card_no from volunteer_approval_record var left join huiyuan on var.huiyuan_id = huiyuan.id
      where approval_id = #{id} and result != 2 and var.status = 1
      order by var.created_time desc
      <if test="offset!=null and size!=null">
        limit #{offset},#{size};
     </if>
  </select>

  <select id="selectByCardNo" resultType="Huiyuan">
      select
      huiyuan.*,
      var.result as  volunteerApplyResult
      from huiyuan
      left join volunteer_approval_record var on var.huiyuan_id=huiyuan.id
      <where>
        huiyuan.status = 1 and
        huiyuan.card_no=#{cardNo}
      </where>
      order by huiyuan.id desc
      limit 1
  </select>

  <update id="addPoint" parameterType="Integer">
    update huiyuan
    set point = point + 1
    where id = #{id};
  </update>

</mapper>