<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hele.hzjs.persistence.OrganizationDao">

    <insert id="insertOne" parameterType="com.hele.hzjs.model.Organization">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into organization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="sequence != null">
                sequence,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="hotline != null">
                hotline,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="postalcode != null">
                postalcode,
            </if>
            <if test="fax != null">
                fax,
            </if>
            <if test="parentOrganizationId != null">
                parent_organization_id,
            </if>
            <if test="version != null">
                version,
            </if>
            created_time,
            updated_time,
            status
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="sequence != null">
                #{sequence},
            </if>
            <if test="mobile != null">
                #{mobile},
            </if>
            <if test="hotline != null">
                #{hotline},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="postalcode != null">
                #{postalcode},
            </if>
            <if test="fax != null">
                #{fax},
            </if>
            <if test="parentOrganizationId != null">
                #{parentOrganizationId},
            </if>
            <if test="version != null">
                #{version},
            </if>
            now(),
            now(),
            1
        </trim>
    </insert>

    <insert id="insertScope" parameterType="com.hele.hzjs.model.Scope">
        insert into organization_scope_relationship
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="organizationId != null">
                organization_id,
            </if>
            <if test="scopeId != null">
                scope_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="version != null">
                version,
            </if>
            created_time,
            updated_time,
            status
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="organizationId != null">
                #{organizationId},
            </if>
            <if test="scopeId != null">
                #{scopeId},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="version != null">
                #{version},
            </if>
            now(),
            now(),
            1
        </trim>
    </insert>

    <select id="getMaxSequence" parameterType="int" resultType="int">
        select max(sequence) from organization
        where parent_organization_id = #{parentOrganizationId};
    </select>

    <select id="getMaxScope" parameterType="hashmap" resultType="int">
        select MAX(scope_id) from organization_scope_relationship
        where scope_id >= #{scopeLeft} and #{scopeRight} > scope_id and status = 1;
    </select>

    <select id="getOne" parameterType="int" resultType="Organization">
        select * from organization
        where id = #{id} and status = 1
        limit 1;
    </select>

    <select id="getOneScope" parameterType="int" resultType="Organization">
        select * from organization_scope_relationship
        where scope_id = #{scopeId} and status = 1
        limit 1;
    </select>

    <select id = "listChildren" parameterType="int" resultType="com.hele.hzjs.model.Organization">
         select
            orga.*,
            (select count(id) from organization_member member where member.organization_id=orga.id and member.status = 1) as member_count
            from organization orga
            LEFT JOIN organization_member m on m.organization_id=orga.id
         where parent_organization_id = #{parentId} and orga.status = 1
         group by orga.id
         order by orga.sequence
    </select>

    <update id="updateInfo" parameterType="hashmap">
        update organization
        set name = #{name},address = #{address},fax = #{fax},mobile = #{mobile},hotline = #{hotline},postalcode = #{postalcode}
        where id = #{id};
    </update>

    <update id="updateScope" parameterType="hashmap">
        update organization_scope_relationship
        set name = #{name}
        where organization_id = #{id};
    </update>

    <update id="deleteOne" parameterType="int">
        update organization
        set status = 0,
        updated_time = now()
        where id = #{id};
    </update>

    <update id="deleteScope" parameterType="int">
        update organization_scope_relationship
        set status = 0,
        updated_time = now()
        where organization_id = #{id};
    </update>

    <select id="listScope" resultType="com.hele.hzjs.model.Scope">
        select * from organization_scope_relationship where status = 1;
    </select>

    <select id="getLocation" resultType="com.hele.hzjs.model.Scope">
        select * from organization_scope_relationship
        where scope_id % 100 = 0 and status = 1;
    </select>

    <select id="getStreet" parameterType="int" resultType="com.hele.hzjs.model.Scope">
        select * from organization_scope_relationship
        where scope_id >= #{scopeId} and #{scopeId}+99 >= scope_id and status = 1;
    </select>

    <select id="listAll" resultType="com.hele.hzjs.model.Organization">
        select o.*,osr.scope_id
        from organization o left join organization_scope_relationship osr on o.id = osr.organization_id
        where o.status = 1 and osr.status = 1
        order by sequence,id;
    </select>

    <update id="updateOrganizationSequence" parameterType="hashmap">
        update organization
        set sequence = #{sequence}
        where id = #{id};
    </update>

</mapper>