<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hznu.lwb.persistence.ProjectMonthlyReportDao">

    <insert id="insertMonthlyAlonePerson" parameterType="com.hznu.lwb.model.report.ProjectMonthlyReport"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO monthly_alone_person(information_coding, father_name, father_id_card, mother_name, mother_id_card, address, alone_time, reason, mobile,  scope_id, created_time, updated_time, version, status)
        VALUES (#{informationCoding}, #{fatherName}, #{fatherIdCard}, #{motherName}, #{motherIdCard}, #{address}, #{aloneTime}, #{reason}, #{mobile},  #{scopeId}, now(), now(), #{version}, #{status})
    </insert>

    <insert id="insertMonthlyMentalityPerson" parameterType="com.hznu.lwb.model.report.ProjectMonthlyReport"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO monthly_mentality_person(information_coding, father_name, father_id_card, mother_name, mother_id_card, address, alone_time, reason, mobile,  scope_id, created_time, updated_time, version, status)
        VALUES (#{informationCoding}, #{fatherName}, #{fatherIdCard}, #{motherName}, #{motherIdCard}, #{address}, #{aloneTime}, #{reason}, #{mobile},  #{scopeId}, now(), now(), #{version}, #{status})
    </insert>

    <insert id="insertMonthlyChangePerson" parameterType="com.hznu.lwb.model.report.ProjectMonthlyReport"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO monthly_change_person(information_coding, father_name, father_id_card, mother_name, mother_id_card, reason, delete_time, address,  scope_id, created_time, updated_time, version, status)
        VALUES (#{informationCoding}, #{fatherName}, #{fatherIdCard}, #{motherName}, #{motherIdCard}, #{reason}, #{deleteTime}, #{address}, #{scopeId}, now(), now(), #{version}, #{status})
    </insert>

    <insert id="insertMonthlyMigratePerson" parameterType="com.hznu.lwb.model.report.ProjectMonthlyReport"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO monthly_migrate_person(information_coding, father_name, father_id_card, mother_name, mother_id_card, old_address, new_address, reason,  migrate_time, scope_id, created_time, updated_time, version, status)
        VALUES (#{informationCoding}, #{fatherName}, #{fatherIdCard}, #{motherName}, #{motherIdCard}, #{oldAddress}, #{newAddress}, #{reason}, #{migrateTime}, #{scopeId}, now(), now(), #{version}, #{status})
    </insert>

    <insert id="insertMonthlyActivity" parameterType="com.hznu.lwb.model.report.ProjectMonthlyReport"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO monthly_activity(head_member_name, description, scope_id, created_time, updated_time, version, status)
        VALUES (#{headMemberName}, #{description}, #{scopeId}, now(), now(), #{version}, #{status})
    </insert>

    <update id="deleteMonthlyAlonePerson" parameterType="int">
		update monthly_alone_person
		set status = 0,
		updated_time = now()
		where id = #{id};
	</update>
    <update id="deleteMonthlyMentalityPerson" parameterType="int">
		update monthly_mentality_person
		set status = 0,
		updated_time = now()
		where id = #{id};
	</update>
    <update id="deleteMonthlyChangePerson" parameterType="int">
		update monthly_change_person
		set status = 0,
		updated_time = now()
		where id = #{id};
	</update>
    <update id="deleteMonthlyMigratePerson" parameterType="int">
		update monthly_migrate_person
		set status = 0,
		updated_time = now()
		where id = #{id};
	</update>

    <update id="updateMonthlyActivity" parameterType="com.hznu.lwb.model.report.ProjectMonthlyReport">
        UPDATE monthly_activity
        <set>
            <if test="headMemberName!=null">
                head_member_name = #{headMemberName},
            </if>
            <if test="description!=null">
                description = #{description},
            </if>
            updated_time = now()
        </set>
        WHERE id = #{id}
    </update>

    <select id="getMonthlyAlonePersonPageCount" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="int">
        SELECT COUNT(*)
        FROM monthly_alone_person
        LEFT JOIN organization_scope_relationship ON monthly_alone_person.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_alone_person.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_alone_person.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_alone_person.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_alone_person.created_time) = #{month} AND
            </if>
            monthly_alone_person.status = 1 AND
            organization_scope_relationship.status=1
        </where>
    </select>

    <select id="getMonthlyAlonePersonTotalCount" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="int">
        SELECT COUNT(*)
        FROM monthly_alone_person
        LEFT JOIN organization_scope_relationship ON monthly_alone_person.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_alone_person.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_alone_person.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_alone_person.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_alone_person.created_time) = #{month} AND
            </if>
            monthly_alone_person.status = 1 AND
            organization_scope_relationship.status=1
        </where>
    </select>

    <select id="getOneMonthlyAlonePersonPage" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="int">
        SELECT count(*)
        FROM monthly_alone_person
        LEFT JOIN organization_scope_relationship ON monthly_alone_person.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_alone_person.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_alone_person.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_alone_person.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_alone_person.created_time) = #{month} AND
            </if>
            monthly_alone_person.status = 1 AND
            organization_scope_relationship.status=1
        </where>
        LIMIT 1;
    </select>

    <select id="getMonthlyAlonePerson" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="com.hznu.lwb.model.report.ProjectMonthlyReport">
        SELECT *
        FROM monthly_alone_person
        LEFT JOIN organization_scope_relationship ON monthly_alone_person.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_alone_person.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_alone_person.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_alone_person.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_alone_person.created_time) = #{month} AND
            </if>
            monthly_alone_person.status = 1 AND
            organization_scope_relationship.status=1
        </where>
        ORDER BY monthly_alone_person.id
        <if test="offset!=null and size!=null">
            LIMIT #{offset},#{size};
        </if>
    </select>

    <select id="getMonthlyMentalityPersonPageCount" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="int">
        SELECT COUNT(*)
        FROM monthly_mentality_person
        LEFT JOIN organization_scope_relationship ON monthly_mentality_person.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_mentality_person.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_mentality_person.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_mentality_person.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_mentality_person.created_time) = #{month} AND
            </if>
            monthly_mentality_person.status = 1 AND
            organization_scope_relationship.status=1
        </where>
    </select>

    <select id="getMonthlyMentalityPersonTotalCount" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="int">
        SELECT COUNT(*)
        FROM monthly_mentality_person
        LEFT JOIN organization_scope_relationship ON monthly_mentality_person.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_mentality_person.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_mentality_person.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_mentality_person.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_mentality_person.created_time) = #{month} AND
            </if>
            monthly_mentality_person.status = 1 AND
            organization_scope_relationship.status=1
        </where>
    </select>

    <select id="getOneMonthlyMentalityPersonPage" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="int">
        SELECT count(*)
        FROM monthly_mentality_person
        LEFT JOIN organization_scope_relationship ON monthly_mentality_person.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_mentality_person.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_mentality_person.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_mentality_person.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_mentality_person.created_time) = #{month} AND
            </if>
            monthly_mentality_person.status = 1 AND
            organization_scope_relationship.status=1
        </where>
        LIMIT 1;
    </select>

    <select id="getMonthlyMentalityPerson" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="com.hznu.lwb.model.report.ProjectMonthlyReport">
        SELECT *
        FROM monthly_mentality_person
        LEFT JOIN organization_scope_relationship ON monthly_mentality_person.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_mentality_person.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_mentality_person.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_mentality_person.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_mentality_person.created_time) = #{month} AND
            </if>
            monthly_mentality_person.status = 1 AND
            organization_scope_relationship.status=1
        </where>
        ORDER BY monthly_mentality_person.id
        <if test="offset!=null and size!=null">
            LIMIT #{offset},#{size};
        </if>
    </select>

    <select id="getMonthlyChangePersonPageCount" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="int">
        SELECT COUNT(*)
        FROM monthly_change_person
        LEFT JOIN organization_scope_relationship ON monthly_change_person.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_change_person.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_change_person.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_change_person.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_change_person.created_time) = #{month} AND
            </if>
            monthly_change_person.status = 1 AND
            organization_scope_relationship.status=1
        </where>
    </select>

    <select id="getMonthlyChangePersonTotalCount" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="int">
        SELECT COUNT(*)
        FROM monthly_change_person
        LEFT JOIN organization_scope_relationship ON monthly_change_person.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_change_person.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_change_person.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_change_person.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_change_person.created_time) = #{month} AND
            </if>
            monthly_change_person.status = 1 AND
            organization_scope_relationship.status=1
        </where>
    </select>

    <select id="getOneMonthlyChangePersonPage" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="int">
        SELECT count(*)
        FROM monthly_change_person
        LEFT JOIN organization_scope_relationship ON monthly_change_person.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_change_person.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_change_person.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_change_person.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_change_person.created_time) = #{month} AND
            </if>
            monthly_change_person.status = 1 AND
            organization_scope_relationship.status=1
        </where>
        LIMIT 1;
    </select>

    <select id="getMonthlyChangePerson" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="com.hznu.lwb.model.report.ProjectMonthlyReport">
        SELECT *
        FROM monthly_change_person
        LEFT JOIN organization_scope_relationship ON monthly_change_person.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_change_person.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_change_person.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_change_person.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_change_person.created_time) = #{month} AND
            </if>
            monthly_change_person.status = 1 AND
            organization_scope_relationship.status=1
        </where>
        ORDER BY monthly_change_person.id
        <if test="offset!=null and size!=null">
            LIMIT #{offset},#{size};
        </if>
    </select>

    <select id="getMonthlyMigratePersonPageCount" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="int">
        SELECT COUNT(*)
        FROM monthly_migrate_person
        LEFT JOIN organization_scope_relationship ON monthly_migrate_person.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_migrate_person.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_migrate_person.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_migrate_person.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_migrate_person.created_time) = #{month} AND
            </if>
            monthly_migrate_person.status = 1 AND
            organization_scope_relationship.status=1
        </where>
    </select>

    <select id="getMonthlyMigratePersonTotalCount" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="int">
        SELECT COUNT(*)
        FROM monthly_migrate_person
        LEFT JOIN organization_scope_relationship ON monthly_migrate_person.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_migrate_person.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_migrate_person.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_migrate_person.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_migrate_person.created_time) = #{month} AND
            </if>
            monthly_migrate_person.status = 1 AND
            organization_scope_relationship.status=1
        </where>
    </select>

    <select id="getOneMonthlyMigratePersonPage" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="int">
        SELECT count(*)
        FROM monthly_migrate_person
        LEFT JOIN organization_scope_relationship ON monthly_migrate_person.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_migrate_person.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_migrate_person.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_migrate_person.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_migrate_person.created_time) = #{month} AND
            </if>
            monthly_migrate_person.status = 1 AND
            organization_scope_relationship.status=1
        </where>
        LIMIT 1;
    </select>

    <select id="getMonthlyMigratePerson" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="com.hznu.lwb.model.report.ProjectMonthlyReport">
        SELECT *
        FROM monthly_migrate_person
        LEFT JOIN organization_scope_relationship ON monthly_migrate_person.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_migrate_person.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_migrate_person.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_migrate_person.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_migrate_person.created_time) = #{month} AND
            </if>
            monthly_migrate_person.status = 1 AND
            organization_scope_relationship.status=1
        </where>
        ORDER BY monthly_migrate_person.id
        <if test="offset!=null and size!=null">
            LIMIT #{offset},#{size};
        </if>
    </select>

    <select id="getMonthlyActivity" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="com.hznu.lwb.model.report.ProjectMonthlyReport">
        SELECT *
        FROM monthly_activity
        LEFT JOIN organization_scope_relationship ON monthly_activity.scope_id = organization_scope_relationship.scope_id
        <where>
            <if test="leftScopeId!=null and rightScopeId!=null">
                <![CDATA[monthly_activity.scope_id>=#{leftScopeId}]]> AND <![CDATA[monthly_activity.scope_id<=#{rightScopeId}]]> AND
            </if>
            <if test="year!=null">
                YEAR (monthly_activity.created_time) = #{year} AND
            </if>
            <if test="month!=null">
                MONTH (monthly_activity.created_time) = #{month} AND
            </if>
            monthly_activity.status = 1 AND
            organization_scope_relationship.status=1
        </where>
        LIMIT 1;
    </select>

    <select id="getChildOrganizationCount" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="int">
        SELECT COUNT(organization_scope_relationship.id)
        FROM organization
        LEFT JOIN organization_scope_relationship ON organization.id = organization_scope_relationship.organization_id
        LEFT JOIN organization AS parentOrganization ON organization.parent_organization_id = parentOrganization.id
        LEFT JOIn organization_scope_relationship AS parentScope ON parentOrganization.id = parentScope.organization_id

        <where>
            <if test="scopeId!=null">
                parentScope.scope_id = #{scopeId} AND
            </if>
            organization.status = 1
            AND organization_scope_relationship.status = 1
            AND parentOrganization.status = 1
            AND parentScope.status = 1
        </where>
    </select>

    <select id="selectChildOrganization" parameterType="com.hznu.lwb.model.param.ProjectMonthlyReportParam"
            resultType="com.hznu.lwb.model.report.ProjectMonthlyReport">
        SELECT organization_scope_relationship.`name` AS organization_name, organization_scope_relationship.scope_id
        FROM organization
        LEFT JOIN organization_scope_relationship ON organization.id = organization_scope_relationship.organization_id
        LEFT JOIN organization AS parentOrganization ON organization.parent_organization_id = parentOrganization.id
        LEFT JOIn organization_scope_relationship AS parentScope ON parentOrganization.id = parentScope.organization_id
        <where>
            <if test="scopeId!=null">
                parentScope.scope_id = #{scopeId} AND
            </if>
            organization.status = 1
            AND organization_scope_relationship.status = 1
            AND parentOrganization.status = 1
            AND parentScope.status = 1
        </where>
        ORDER BY organization_scope_relationship.scope_id
        <if test="offset!=null and size!=null">
            LIMIT #{offset},#{size};
        </if>
    </select>

</mapper>