<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hele.hzjs.persistence.ProjectReportDao">

    <insert id="insertProjectReportDao" parameterType="com.hele.hzjs.model.report.ProjectReport">
        INSERT INTO project_report (organization_id,
        project1_activity, project1_people,
        project2_activity, project2_people,
        project3_activity, project3_people,
        project4_activity, project4_people,
        project5_activity, project5_people,
        project6_activity, project6_people,
        project7_activity, project7_people,
        project8_activity, project8_people,
        is_filed, year
        )
        VALUES (#{organizationId},
        #{project1Activity}, #{project1People},
        #{project2Activity}, #{project2People},
        #{project3Activity}, #{project3People},
        #{project4Activity}, #{project4People},
        #{project5Activity}, #{project5People},
        #{project6Activity}, #{project6People},
        #{project7Activity}, #{project7People},
        #{project8Activity}, #{project8People},
        #{isFiled}, #{year}
        );
    </insert>

    <update id="updateProjectReport" parameterType="com.hele.hzjs.model.report.ProjectReport">
        UPDATE project_report
        <set>
            <if test="project1Activity != null">
                project1_activity = #{project1Activity},
            </if>
            <if test="project1People != null">
                project1_people = #{project1People},
            </if>

            <if test="project2Activity != null">
                project2_activity = #{project2Activity},
            </if>
            <if test="project2People != null">
                project2_people = #{project2People},
            </if>

            <if test="project3Activity != null">
                project3_activity = #{project3Activity},
            </if>
            <if test="project3People != null">
                project3_people = #{project3People},
            </if>

            <if test="project4Activity != null">
                project4_activity = #{project4Activity},
            </if>
            <if test="project4People != null">
                project4_people = #{project4People},
            </if>

            <if test="project5Activity != null">
                project5_activity = #{project5Activity},
            </if>
            <if test="project5People != null">
                project5_people = #{project5People},
            </if>

            <if test="project6Activity != null">
                project6_activity = #{project6Activity},
            </if>
            <if test="project6People != null">
                project6_people = #{project6People},
            </if>

            <if test="project7Activity != null">
                project7_activity = #{project7Activity},
            </if>
            <if test="project7People != null">
                project7_people = #{project7People},
            </if>

            <if test="project8Activity != null">
                project8_activity = #{project8Activity},
            </if>
            <if test="project8People != null">
                project8_people = #{project8People},
            </if>
            updated_time = now()
        </set>
        WHERE year = #{year} AND organization_id = #{organizationId} AND is_filed = 0;
    </update>

    <select id="getOneYearProjectReport" parameterType="hashmap" resultType="com.hele.hzjs.model.report.ProjectReport">
        SELECT *
        FROM project_report
        WHERE year = #{year} AND status = 1 AND organization_id = #{organizationId}
        LIMIT 1;
    </select>

    <select id="getProjectActivityCount" parameterType="hashmap" resultType="int">
        SELECT COUNT(activity.id)
        FROM activity LEFT JOIN organization_member ON activity.initiator_id = organization_member.id
        WHERE
        activity.status = 1 AND activity.project_id = #{projectId} AND organization_member.organization_id = #{organizationId} AND activity.created_time >= #{year};
    </select>

    <select id="getProjectPeopleCount" parameterType="hashmap" resultType="int">
        SELECT COUNT(*)
        FROM huiyuan_activity ,activity LEFT JOIN organization_member ON activity.initiator_id = organization_member.id
        WHERE
            activity.status = 1 AND huiyuan_activity.status = 1
        AND huiyuan_activity.activity_id = activity.id
        AND activity.project_id = #{projectId}
        AND organization_member.organization_id = #{organizationId}
        AND activity.created_time >= #{year};
    </select>


</mapper>