<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hele.hzjs.persistence.VolunteerReportDao">

    <insert id="insertVolunteerReport" parameterType="com.hele.hzjs.model.report.HuiyuanReport">
        insert into volunteer_report(scope_id,is_filed,huiyuan_count,male,geti,tuanti,liudong,changzhu,shidu,yuling,qingshaonian,created_time,updated_time,version,status)
        values(#{scopeId},1,#{huiyuanCount},#{male},#{geti},#{tuanti},#{liudong},#{changzhu},#{shidu},#{yuling},#{qingshaonian},now(),now(),#{version},1)
    </insert>

    <select id="getYears" resultType="int">
        select distinct year(created_time)
        from volunteer_report
        order by year(created_time) desc;
    </select>

    <select id="judgeFiled" parameterType="int" resultType="int">
    select count(*)
    from volunteer_report
    where is_filed = 1 and year(created_time) = #{year}
  </select>

    <select id="getVolunteerReportByTable" parameterType="int" resultType="com.hele.hzjs.model.report.HuiyuanReport">
        select volunteer_report.*, relation.name as scope_name
        from volunteer_report left join organization_scope_relationship relation on volunteer_report.scope_id = relation.scope_id
        where year(volunteer_report.created_time) = #{year} and volunteer_report.status = 1 and volunteer_report.is_filed = 1
        group by volunteer_report.scope_id
        order by field(volunteer_report.scope_id, 0) asc, volunteer_report.scope_id;
    </select>

    <select id="getVolunteerReport" parameterType="int" resultType="com.hele.hzjs.model.report.HuiyuanReport">
        select osr.name as scope_name, osr.scope_id as scope_id,huiyuan_count, male,geti,tuanti,liudong,changzhu,shidu,yuling,qingshaonian
        from organization_scope_relationship osr left join
        (select
        count(huiyuan.id) as huiyuan_count,
        relation.name as scope_name,
        relation.scope_id as scope_id,
        sum(case when huiyuan.sex = 1 then 1 else 0 end) as 'male',
        sum(case when huiyuan.huiyuan_type = 0 then 1 else 0 end) as 'geti',
        sum(case when huiyuan.huiyuan_type = 1 then 1 else 0 end) as 'tuanti',
        sum(case when huiyuan.huiyuan_type = 2 then 1 else 0 end) as 'liudong',
        sum(case when huiyuan.huiyuan_type = 3 then 1 else 0 end) as 'changzhu',
        sum(case when huiyuan.service_type like '%0%' then 1 else 0 end) as 'shidu',
        sum(case when huiyuan.service_type like '%1%' then 1 else 0 end) as 'yuling',
        sum(case when huiyuan.service_type like '%2%' then 1 else 0 end) as 'qingshaonian'
        FROM huiyuan
        left join organization_scope_relationship relation on round(huiyuan.scope_id/10000)*10000=relation.scope_id
        where year(huiyuan.created_time) = #{year} and huiyuan.status = 1 and relation.status = 1 and huiyuan.volunteer_status = 1
        group by scope_id
        order by scope_id) as kk on kk.scope_id = osr.scope_id
        where osr.scope_id % 10000 = 0 and osr.scope_id != 0
    </select>

    <select id="getTotalCount" parameterType="int" resultType="com.hele.hzjs.model.report.HuiyuanReport">
        SELECT
        count(huiyuan.id) as huiyuanCount,
        relation.name as scope_name,
        relation.scope_id as scope_id,
        sum(case when huiyuan.sex = 1 then 1 else 0 end) as 'male',
        sum(case when huiyuan.huiyuan_type = 0 then 1 else 0 end) as 'geti',
        sum(case when huiyuan.huiyuan_type = 1 then 1 else 0 end) as 'tuanti',
        sum(case when huiyuan.huiyuan_type = 2 then 1 else 0 end) as 'liudong',
        sum(case when huiyuan.huiyuan_type = 3 then 1 else 0 end) as 'changzhu',
        sum(case when huiyuan.service_type like '%0%' then 1 else 0 end) as 'shidu',
        sum(case when huiyuan.service_type like '%1%' then 1 else 0 end) as 'yuling',
        sum(case when huiyuan.service_type like '%2%' then 1 else 0 end) as 'qingshaonian'
        FROM huiyuan
        left join organization_scope_relationship relation on relation.scope_id = 0
        where year(huiyuan.created_time) = #{year} and huiyuan.status = 1 and relation.status = 1 and huiyuan.volunteer_status = 1
    </select>

</mapper>