<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hznu.lwb.persistence.ZixunDao">

    <select id="getMany" parameterType="int" resultType="com.hznu.lwb.model.Zixun">
		select * from zixun
		where status = 1
		order by id desc
		limit  #{num}
	</select>

    <select id="getOne" parameterType="int" resultType="com.hznu.lwb.model.Zixun">
		SELECT *,
        (SELECT organization.name
        FROM organization, organization_scope_relationship
        WHERE zixun.create_member_scope_id = organization_scope_relationship.scope_id
        AND organization_scope_relationship.id = organization.id) AS create_organization_name
        FROM zixun
		where zixun.status = 1 and zixun.id = #{id};
	</select>

    <insert id="insert" parameterType="com.hznu.lwb.model.Zixun" useGeneratedKeys="true" keyProperty="id">
        insert into zixun(
        title,
        create_member_scope_id,
        <if test="receiveObject!=null">
            receive_object,
        </if>
        created_member_id,
        <if test="attachment!=null">
            attachment,
        </if>
        <if test="readCount!=null">
            read_count,
        </if>
        <if test="publishStatus!=null">
            publish_status,
        </if>
        content,
        created_time,updated_time,version,status)
        values (
        #{title},
        #{createMemberScopeId},
        <if test="projectId!=null">
            #{projectId},
        </if>
        <if test="receiveObject!=null">
            #{receiveObject},
        </if>
        #{createdMemberId},
        <if test="attachment!=null">
            #{attachment},
        </if>
        <if test="readCount!=null">
            #{readCount},
        </if>
        <if test="publishStatus!=null">
            #{publishStatus},
        </if>
        #{content},
        now(),now(),#{version},1);
    </insert>

    <update id="countRead" parameterType="int">
		update zixun
		set read_count = read_count + 1
		where id = #{id};
	</update>

    <update id="updateInfo" parameterType="com.hznu.lwb.model.Zixun">
        update zixun
        set
        <if test="title!=null">
            title = #{title},
        </if>
        <if test="receiveObject!=null">
            receive_object = #{receiveObject},
        </if>
        <if test="createdMemberId!=null">
            created_member_id = #{createdMemberId},
        </if>
        <if test="readCount!=null">
            read_count = #{readCount},
        </if>
        <if test="publishStatus!=null">
            publish_status = #{publishStatus},
        </if>
        <if test="attachment!=null">
            attachment = #{attachment},
        </if>
        <if test="content!=null">
            content = #{content},
        </if>
        <if test="version!=null">
            version = #{version},
        </if>
        <if test="status!=null">
            status = #{status},
        </if>
        updated_time = now()
        where id = #{id};
    </update>

    <update id="deleteInfo" parameterType="int">
		update zixun
		set status = 0,
		updated_time = now()
		where id = #{id};
	</update>

    <select id="getPageCount" parameterType="hashmap" resultType="int">
        SELECT COUNT(zixun.id) FROM zixun
        <where>
            zixun.status = 1
            <if test="title!=null and title!='' ">
                AND zixun.title like concat("%",#{title},"%")
            </if>
            <if test="scopeId!=null and scopeId!=0 ">
                AND zixun.scope_id = #{scopeId}
            </if>
            <if test="startTime != null and startTime != ''">
                AND <![CDATA[(DATE_FORMAT(zixun.created_time, '%Y-%m-%d') >= DATE_FORMAT( #{startTime}, '%Y-%m-%d'))
                ]]>
            </if>
            <if test="endTime != null and endTime != ''">
                AND <![CDATA[(DATE_FORMAT(zixun.created_time, '%Y-%m-%d') <= DATE_FORMAT( #{endTime}, '%Y-%m-%d'))
                ]]>
            </if>
        </where>
    </select>

    <select id="selectzixunInfo" parameterType="com.hznu.lwb.model.param.ZixunParam"
            resultType="com.hznu.lwb.model.Zixun">
        SELECT *, (SELECT organization_member.name FROM organization_member WHERE organization_member.id =
        zixun.created_member_id) AS create_member_name
        FROM zixun
        <where>
            zixun.status = 1
            <if test="title!=null and title!='' ">
                AND zixun.title like concat("%",#{title},"%")
            </if>
            <if test="scopeId!=null and scopeId!=0 ">
                AND zixun.scope_id = #{scopeId}
            </if>
            <if test="startTime != null and startTime != ''">
                AND <![CDATA[(DATE_FORMAT(zixun.created_time, '%Y-%m-%d') >= DATE_FORMAT( #{startTime}, '%Y-%m-%d'))
                ]]>
            </if>
            <if test="endTime != null and endTime != ''">
                AND <![CDATA[(DATE_FORMAT(zixun.created_time, '%Y-%m-%d') <= DATE_FORMAT( #{endTime}, '%Y-%m-%d'))
                ]]>
            </if>
        </where>
        ORDER BY zixun.id DESC
        <if test="offset!=null and size!=null">
            LIMIT #{offset},#{size}
        </if>
    </select>

    <sql id="whereAll">
        <where>
            zixun.status = 1
        </where>
    </sql>
    <select id="selectAll" resultType="Xuanjiao">
        SELECT * FROM zixun
        <include refid="whereAll" />
        order by id desc
        limit #{offset},#{size}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(zixun.id) FROM zixun
        <include refid="whereAll" />
    </select>

</mapper>