.left li {
    list-style: none;
    line-height: 40px;
}
.left>ul{
    width: 100%;
    margin-top: 26px;
    text-align: left;
}
.left ul{
    list-style: none;
    margin-left: 0;
}
.left>ul>li a{
    color: #222;
    padding-left: 40px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 24px;
}
.left>ul>li a:hover{
    color: #1890ff !important;
}
.left>ul>li>a img{
    position: absolute;
    top: calc(50% - 5px);
    right: 20px;
    transform: rotate(0deg);
}
.left>ul>li>ul{
    display: none;
}
.left>ul>li>ul>li>a{
    padding-left: 54px;
}
.selected-li {
    background-color: #e6f7ff;
    color: #1890ff !important;
    border-right: 2px solid #1890ff;
}

.l-title{
    padding-top: 24px;
    padding-left: 24px;
    font-size: 20px !important;
    color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
}
.l-title img{
    margin-right: 8px;
    cursor: pointer;
}
.s-title{
    margin-top: 12px;
    padding-left: 24px;
    color: #999999;
    font-size: 15px !important;
}

.search-div{
    width: 600px;
    margin: 32px auto 0 auto;
}
.search-div label{
    float: left;
}
.search-div input{
    height: 40px;
    width: 520px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding: 0 0 0 12px !important;
    font-size: 15px !important;
    color: #222;
}
.search-div button{
    width: 80px;
    height: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 15px !important;
}
.information-buttons{
    margin-top: 40px;
    padding-left: 24px;
    overflow: hidden;
}
.information-buttons button{
    height: 32px;
    width: 82px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.information-buttons button img{
    margin-right: 8px;
}
.information-buttons button:nth-child(n+1){
    margin-right: 16px;
}
.information-table{
    margin-left: 24px;
    width: 1078px;
    overflow: hidden;
    height: auto;
    padding-top: 24px;
    margin-bottom: 20px;
}
.main-title{
    margin-left: 24px;
    height: auto;
    overflow: hidden;
    margin-top: 40px;
    display: flex;
    align-items: center;
}
label{
    margin-bottom: 0;
}
.main-title>span,.main-text>span,.main-cover>span{
    float: left;
    letter-spacing: 14px;
    margin-right: 20px;
    color: #999999;
}
.main-cover .play img{
    cursor: pointer;
}
.main-title input{
    float: left;
    height: 34px;
    width: 716px;
}
.Announcement-input{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none;
    width: 616px !important;
}
.main-title select{
    float: left;
    height: 32px;
    width: 60px;
}
.main-title .select2-container{
    width: 100px!important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.main-title .select2-container--default.select2-container--focus .select2-selection{
    height: 30px;
}
.main-text{
    margin-left: 24px;
    height: auto;
    overflow: hidden;
    margin-top: 32px;
}

#inputArea{
    height: 75% !important;
    overflow-y: auto;
}
.main-text>div{
    border-radius: 4px;
    height: 320px ;
    width: 716px ;
    margin: 0!important;
    display: inline-block;
    border: 1px solid #d9d9d9;
}
.main-text .wangEditor-menu-container{
    position: static!important;
    width: calc(100% - 20px) !important;
    margin: 0 10px;
}
.wangEditor-fullscreen{
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}
.main-cover{
    margin-left: 24px;
    margin-top: 32px;
    height: auto;
    overflow: hidden;
}
.main-cover label{
    float: left;
}
.main-cover>div{
    float: left;
    height: 120px;
    width: 162px;
    border-radius: 4px;
}
.main-cover>div:nth-child(2){
    background: #eeeeee;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.main-cover>div:nth-child(2) div{
    display: flex;
    justify-content: center;
}
.main-cover>div:nth-child(2) img{
    margin-top: 16px;
}
.main-cover>div:nth-child(2) span{
    letter-spacing: unset;
}
.main-cover>div:nth-child(2)>div:nth-child(2) span{
    margin-top: 6px;
}
.main-cover>div:nth-child(2)>div:nth-child(3) span{
    font-size: 12px !important;
    color: #999999;
}
.main-cover>div:nth-child(3){
    position: relative;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-cover>div:nth-child(3)>iframe{
    width: 100%;
    height: 120px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}
.main-cover>div:nth-child(3)>a{
    position: absolute;
    top: 125px;
    left: 0;
    width: 30px;
    color: #1890ff;
}
.main-cover>div:nth-child(3)>a:hover{
    color: #1890ff;
}
.main-cover>div:nth-child(3)>a:nth-child(3){
    margin-left: 40px;
}
.main-cover>div:nth-child(3)>a:nth-child(4){
    margin-left: 80px;
}
.main-cover div:nth-child(3)>img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.deleteVideo,.deleteImg{
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    z-index: 10000;
    cursor: pointer;
}
.deleteVideo img{
    cursor: pointer;
}
.deleteImg img{
    cursor: pointer;
}
.progressBar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    background: #fb2020;
}
.main-cover .mask{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    opacity: 0.2;
    z-index: 999;
    background-color: #000;
    margin: 0;
    border-radius: 4px;
}
.main-cover .play{
    position: absolute;
    left: 68px;
    top: 47px;
    z-index: 10000;
}
.main-cover>div:nth-child(3)>div:nth-child(4) img{
    width: unset;
    height: unset;
}
.main-cover>div:nth-child(3)>video{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit:fill;
}
.main-buttons{
    margin-bottom: 20px;
    margin-top: 72px;
    margin-left: 106px;
    height: auto;
    overflow: hidden;
}
.main-buttons button{
    height: 32px;
    width: 82px;
}
.main-buttons button:nth-child(2){
    margin-left: 16px;
}
.read-main{
    margin-top: 40px;
    width: 100%;
    /*height: 680px;*/
    padding-left: 24px;
    display: flex;
    /*align-items: center;*/
    margin-bottom: 40px;
}
.read-main>div:nth-child(1){
    float: left;
    width: 680px;
    height: 100%;
    padding: 0 46px;
    overflow: hidden;
    border-right: 1px solid #d9d9d9;
}
.read-main>div:nth-child(2){
    float: left;
    width: 0;
    height: 656px;
    background: #d9d9d9;
}
.read-main>div:nth-child(3){
    float: left;
    width: 320px;
    height: 100%;
    padding: 0 46px 0 64px;

}
.read-title{
    width: 100%;
    text-align: center;
    color: #222222;
    font-size: 28px !important;
    margin: 24px auto;
}
.read-type{
    width: 100%;
    text-align: center;
    color: #999999;
}
.read-cover{
    margin-top: 24px;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
}
.read-cover img{
    width: 330px;
    height: 212px;
    border-radius: 4px;
}
.read-text{
    margin-top: 32px;
    width: 100%;
    height: auto;
    overflow: hidden;
    min-height: 470px;
}
.read-text ul,.read-text ol{
    padding-left: 20px;
}
.read-text *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}
.read-text table{
    border: none;
    border-collapse: collapse;
}
.read-text table td,.read-text table th{
    border: 1px solid #999;
    padding: 3px 5px;
    min-width: 50px;
    height: 20px;
}
.read-text blockquote{
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
}
.read-video{
    margin-top: 32px;
    width: 100%;
    height: 365px;
    overflow: hidden;
    border-radius: 4px;
}
.read-video video{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 4px;
}
.other-title{
    margin-top: 13px;
    height: 44px;
    display: flex;
    align-items: center;
    color: #222;
}
.other-item-type1,.other-item-type2{
    width: 284px;
    height: 80px;
    cursor: pointer;
}
.other-item-type2{
    width: 200px;
}
.other-item-type2{
    height: auto;
    min-height: 80px;
}
.other-item-type1 *{
    cursor: pointer;
}
.other-item-type1 div *{
    cursor: pointer;
}
.other-item-type1>div:nth-child(1){
    width: 138px;
    height: 100%;
    margin-right: 8px;
    float: left;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.other-item-type1>div:nth-child(2){
    width: 138px;
    height: 100%;
    float: left;
}
.other-item-type1>div:nth-child(1) img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.other-item-type1>div:nth-child(1) video{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit:fill;
}
.other-item-type1>div:nth-child(1)>mask{
    display: block!important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    opacity: 0.2;
    z-index: 999;
    background-color: #000;
    margin: 0;
    border-radius: 4px;
}
.other-item-type1>div:nth-child(1)>.play{
    display: block!important;
    position: absolute;
    top: calc(50% - 13px);
    left: calc(50% - 13px);
    z-index: 10000;
}

.other-item-type1>div:nth-child(1)>div:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    z-index: 999;
    background-color: #000;
    margin: 0;
    border-radius: 4px;
}
/*.other-item-type1>div:nth-child(1)>div:nth-child(2){*/
    /*position: absolute;*/
    /*left: calc(50% - 13px);*/
    /*top: calc(50% - 13px);*/
    /*z-index: 10000;*/
/*}*/
.other-item-type1>div:nth-child(2) div:nth-child(1),.other-item-type2>div>div:nth-child(1){
    width: 100%;
    height: 40px;
    overflow: hidden;
    word-break: break-all;
    /*text-overflow: ellipsis;*/
    /*-webkit-line-clamp: 2;*/
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical;*/
}
.other-item-type1>div:nth-child(2) div:nth-child(1):hover,.other-item-type2>div>div:nth-child(1):hover{
    color: #1890ff;
    cursor: pointer;
}
.other-item-type1>div:nth-child(2) div:nth-child(2),.other-item-type2>div>div:nth-child(2){
    height: 20px;
    margin-top: 20px;
    color: #999999;
}
.other-item-type2>div>div:nth-child(2){
    margin-top: 12px;
    margin-bottom: 8px;
    cursor: pointer;
}
.other-item-type1:nth-child(n+2),.other-item-type2:nth-child(n+2){
    margin-top: 16px;
}
.other-item-type2>div{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#chacha{
    position: absolute;
    height: 100%;
    top: 0;
    right: 22px;
    font-size: 32px !important;
    margin-top: -2px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block !important;
    z-index: 4000;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    float: right;
}
#chacha:hover {
    opacity: 0.6;
}
.videos{
    margin-left: 24px;
    height: auto;
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 20px;
    min-height: 400px;
}
.videos>div{
    height: auto;
    overflow: hidden;
}
.videos>div:nth-child(n+2){
    margin-top: 24px;
}
.video{
    width: 180px;
    height: auto;
    float: left;
    position: relative;
}
.videos>div>div:nth-child(n+2){
    margin-left: 24px;
}
.video >div{
    display: none;
}
.video .mask{
    display: block!important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 112px;
    opacity: 0.2;
    z-index: 999;
    background-color: #000;
    margin: 0;
    border-radius: 4px;
}
.video>img{
    height: 112px;
    width: 180px;
    border-radius: 4px;
}
.video>video{
    width: 100%;
    height: 112px;
    object-fit: fill;
    border-radius: 4px;
}
.video>iframe{
    width: 100%;
    height: 112px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}
.video .play{
    display: block!important;
    position: absolute;
    top: 43px;
    left: 77px;
    z-index: 10000;
}
.video  .title{
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*-webkit-line-clamp: 2;*/
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical;*/
    height: 40px;
    word-break: break-all;
    display: block;
}
#textDiv{
    height: 42px;
    overflow: hidden;
    width: 180px;
    opacity: 0;
    z-index: -1;
}
#textDiv1{
    width: 100%;
    height: auto;
    word-break: break-all;
}
.video  .delete{
    display: block;
    position: absolute !important;
    top: 80px;
    left: 120px;
    z-index: 1000;
    color: #fff;
    cursor: pointer;
}
.video  .videoEdit{
    display: block;
    position: absolute !important;
    top: 80px;
    left: 10px;
    z-index: 1000;
    color: #fff;
    cursor: pointer;
}
.video >div:nth-child(5) *,.video >div:nth-child(2) *{
    cursor: pointer;
}

.bottom-fanye{
    width: 1078px;
    height: auto;
    overflow: hidden;
    text-align: right;
}
.bottom-fanye .pagination{
    padding-top: 20px;
    padding-right: 60px;
}
.delete-button {
    color: #40a9ff;
    border: 1px solid #40a9ff;
    opacity: 1;
}
#Videos-table{
    width: 1020px !important;
    margin-left: 24px;
    border: none;
    margin-top: 0px !important;
}
#Videos-table *{
    border: none !important;
    overflow: hidden;
}
#Videos-table> tbody > tr{
    float: left;
    width: 180px !important;
    height: 152px !important;
    margin-right: 24px !important;
    margin-top: 24px;
}


#Videos-table_wrapper{
    width: 1020px;
    margin-bottom: 40px;
}


.dataTables_info{
    padding-top: 40px;
}
.dataTables_wrapper .row:first-child,.dataTables_wrapper .row:last-child{
    background-color: #fff;
    padding: 0;
}
.dataTables_scrollBody{
    height: auto !important;
    min-height: 400px !important;
    overflow-x: hidden !important;
}
.dataTables_paginate{
    margin-top: 40px;
}
.information-table thead *,.mails-type1 tbody *,.table,.table{
    border: none !important;
}
.information-table tr[role=row]{
    height: 48px !important;
    display: flex;
    align-items: center;
}
#gg-table_wrapper  tr[role=row]{
    height: 40px !important;
}


div.dataTables_scrollBody table>thead{
    display: none !important;
}
.row{
    border: none !important;
}
.table > thead > tr{
    background: #e6f7ff;
    color: #222;
}
.table > tbody > tr{
    background: #fff;
    color: #222;
    border-bottom: 1px solid #d9d9d9 !important;
}
.table > tbody > tr{
    /*background-color: red;*/
}
.table tr td{
    background-color: #fff !important;
    border: none !important;
}
.dataTable > thead > tr > th{
    padding: 0 !important;
    color: #222 !important;
    font-weight: normal!important;
}
tbody td{
    padding: 0 !important;
    vertical-align: inherit !important;
}
.pagination a *{
    cursor: pointer;
}
.pagination>.disabled>a *{
    cursor: not-allowed;
}
.previous a,.next a{
    border-radius: 4px !important;
    border: 1px solid #d9d9d9;
    margin-left: 6px;
    background-color: #fff;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.next a img{
    transform: rotate(180deg);
}
.paginate_button a{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff !important;
    border: 1px solid #d9d9d9 !important;
    margin-left: 6px !important;
    color: rgba(0,0,0,0.65) !important;
}
.pagination > li > a, .pager > li > a{
    border-radius: 4px !important;
}
.active a{
    border: 1px solid #1890ff !important;
    color: #1890ff !important;
}
div.dataTables_scrollBody tbody tr th, div.dataTables_scrollBody tbody tr td{
    display: flex;
    align-items: center;
    flex-flow: row;
    height: 100%;
}
#zx-table_wrapper thead th:nth-child(1),#zx-table_wrapper tbody td:nth-child(1){
    width: 64px !important;
    text-align: center;
    justify-content: center;
}
#zx-table_wrapper thead th:nth-child(2),#zx-table_wrapper tbody td:nth-child(2){
    width: 64px !important;
    text-align: left;
}
#zx-table_wrapper thead th:nth-child(3),#zx-table_wrapper tbody td:nth-child(3){
    width: 150px !important;
    text-align: left;
}
#zx-table_wrapper thead th:nth-child(4),#zx-table_wrapper tbody td:nth-child(4){
    width: 164px !important;
    text-align: left;
}
#zx-table_wrapper thead th:nth-child(5),#zx-table_wrapper tbody td:nth-child(5){
    width: 164px !important;
    text-align: left;
}
#zx-table_wrapper thead th:nth-child(6),#zx-table_wrapper tbody td:nth-child(6){
    width: 152px !important;
    text-align: left;
}
#zx-table_wrapper thead th:nth-child(7),#zx-table_wrapper tbody td:nth-child(7){
    width: 162px !important;
    text-align: left;
}
#zx-table_wrapper thead th:nth-child(8),#zx-table_wrapper tbody td:nth-child(8){
    width: 150px !important;
    text-align: left;
}
#gg-table_wrapper thead th:nth-child(1),#gg-table_wrapper tbody td:nth-child(1){
    width: 64px !important;
    text-align: center;
    justify-content: center;
}
#gg-table_wrapper thead th:nth-child(2),#gg-table_wrapper tbody td:nth-child(2){
    width: 190px !important;
    text-align: left;
    /*padding-left: 40px !important;*/
}
#gg-table_wrapper thead th:nth-child(3),#gg-table_wrapper tbody td:nth-child(3){
    width: 180px !important;
    text-align: left;
}
#gg-table_wrapper thead th:nth-child(4),#gg-table_wrapper tbody td:nth-child(4){
    width: 180px !important;
    text-align: left;
}
#gg-table_wrapper thead th:nth-child(5),#gg-table_wrapper tbody td:nth-child(5){
    width: 152px !important;
    text-align: left;
}
#gg-table_wrapper thead th:nth-child(6),#gg-table_wrapper tbody td:nth-child(6){
    width: 162px !important;
    text-align: left;
}
#gg-table_wrapper thead th:nth-child(7),#gg-table_wrapper tbody td:nth-child(7){
    width: 150px !important;
    text-align: left;
}
#xj-table_wrapper thead th:nth-child(1),#xj-table_wrapper tbody td:nth-child(1){
    width: 64px !important;
    text-align: center;
    justify-content: center;
}
#xj-table_wrapper thead th:nth-child(2),#xj-table_wrapper tbody td:nth-child(2){
    width: 64px !important;
    text-align: left;
}
#xj-table_wrapper thead th:nth-child(3),#xj-table_wrapper tbody td:nth-child(3){
    width: 800px !important;
    text-align: left;
}
#xj-table_wrapper thead th:nth-child(4),#xj-table_wrapper tbody td:nth-child(4){
    width: 150px !important;
    text-align: left;
}



.table-cover{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.table-cover img{
    width: 40px;
    height: 32px;
    border-radius: 2px;
}
.table-title,.table-data,.table-name{
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.table-title{
    width: 190px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.table-title div{
    cursor: pointer;
}
.table-data{
    width: 210px;
    display: flex;
    align-items: center;
}
.table-name{
    width: 152px;
    display: flex;
    align-items: center;
}
.table-title div,.table-data div,.table-name div{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
#xj-table .table-title{
    width: 800px;
}
.table-title:hover{
    color: #1890ff;
}
.table-operate{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.table-operate a,.table-operate a:hover{
    color: #1890ff;
    float: left;
}
.table-operate div{
    float: left;
    width: 1px;
    height: 14px;
    margin: 0 8px;
    background: #d0dfe7;
}
.bootbox-confirm .modal-header{
    color: #222;
}
.popBox-mask{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: 999;
    background-color: #000;
}
.popBox-content{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 20000;
    border-radius: 8px;
    background-color: #fff;
}
#selectType .popBox-content{
    width: 400px;
    height: 200px;
}
.selectType-title{
    height: 56px;
    width: 100%;
    /*border-bottom: 1px solid #d9d9d9;*/
    font-size: 16px !important;
    color: rgba(0,0,0,0.85);
    padding-left: 24px;
    text-align: left;
    line-height: 56px;
    background-color: #f5f5f5;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    position: relative;
}
.selectType-title div{
    height: 100%;
    position: absolute;
    right: 22px;
    top: 0;
}
.selectType-title div img{
    cursor: pointer;
}
.typeButtons{
    padding-top: 30px;
    width: 100%;
    text-align: center;
    height: 194px;
}
.typeButtons button{
    width: 150px;
    height: 60px;
    font-size: 18px;
}
.typeButtons button:nth-child(2){
    margin-left: 20px;
}
.tipPDF{
    position: absolute;
    right: -50px;
    bottom: 40px;
    display: block !important;
    width: 0;
    height: 0;
}
.other-item-type1 div[class="othertipPDF"]{
    position: absolute;
    bottom: 0;
    right: -40px;
    display: block !important;
    width: 0;
    height: 0;
}
.PDF{
    position: absolute;
    right: 2px;
    bottom: 44px;
    display: block !important;
    color: #fff;
    font-weight: bold;
}
.otherPDF{
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: block !important;
    color: #fff;
    font-weight: bold;
    z-index: 100;
    font-size: 8px;
}
#playVideo .popBox-content{
    width: 720px;
    height: 448px;
    border-radius: 4px;
}
#playVideo video{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 4px;
}
#playVideo .popBox-content>div{
    width: 100%;
    height: 100%;
    position: relative;
}
#playVideo .popBox-content>div>div{
    display: none;
}
.close{
    display: block !important;
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
    z-index: 4000;
    font-size: 32px;
}
#textDiv{
    height: 42px;
    overflow: hidden;
    width: 180px;
    opacity: 0;
    z-index: -1;
}
#textDiv1{
    width: 100%;
    height: auto;
    word-break: break-all;
}
#other{
    width: 138px;
    height: 42px;
    overflow: hidden;
    /*opacity: 0;*/
    /*z-index: -1;*/
}
#othertext{
    width: 100%;
    height: auto;
    word-break: break-all;
    overflow: hidden;
}
#other1{
    width: 200px;
    height: 42px;
    overflow: hidden;
    /*opacity: 0;*/
    /*z-index: -1;*/
}
#othertext1{
    width: 100%;
    height: auto;
    word-break: break-all;
    overflow: hidden;
}
@media all and (max-width: 1439px){
    .left>ul>li:nth-child(3)>a>img{
        margin-left: calc(160px * 1280 /1440);
    }

    .information-table{
        width: calc(1078px * 1280 /1440);
    }

    .read-main{
        /*height: calc(680px * 1280 /1440);*/
    }
    .read-main>div:nth-child(1){
        width: calc(100% - calc(300px * 1280 /1440) * 1440 /1440);
    }
    .read-main>div:nth-child(2){
        height: calc(656px * 1280 /1440);
    }
    .read-main>div:nth-child(3){
        width: calc(448px * 1280 /1440);
        padding: 0 calc(46px * 1280 /1440) 0 calc(64px * 1280 /1440)
    }
    .read-cover img{
        width:calc(330px * 1280 /1440);
        height: calc(212px * 1280 /1440);
    }

    #Videos-table> tbody > tr{
        margin-right: 16px !important;
    }
    #Videos-table_wrapper{
        width: 1000px !important;
    }


    .table-title{
        width: calc(190px * 1280 /1440);
    }
    .table-data{
        width: calc(210px * 1280 /1440);
        display: flex;
        align-items: center;
    }
    .table-name{
        width: calc(152px * 1280 /1440);
        display: flex;
        align-items: center;
    }
    #xj-table .table-title{
        width: calc(800px * 1280 /1440);
    }
    #zx-table_wrapper thead th:nth-child(1),#zx-table_wrapper tbody td:nth-child(1){
        width: calc(64px * 1280 /1440) !important;
        text-align: center;
    }
    #zx-table_wrapper thead th:nth-child(2),#zx-table_wrapper tbody td:nth-child(2){
        width: calc(64px * 1280 /1440) !important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(3),#zx-table_wrapper tbody td:nth-child(3){
        width: calc(190px * 1280 /1440) !important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(4),#zx-table_wrapper tbody td:nth-child(4){
        width: calc(164px * 1280 /1440) !important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(5),#zx-table_wrapper tbody td:nth-child(5){
        width: calc(164px * 1280 /1440)!important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(6),#zx-table_wrapper tbody td:nth-child(6){
        width: calc(152px * 1280 /1440) !important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(7),#zx-table_wrapper tbody td:nth-child(7){
        width: calc(122px * 1280 /1440) !important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(8),#zx-table_wrapper tbody td:nth-child(8){
        width: calc(150px * 1280 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper thead th:nth-child(1),#gg-table_wrapper tbody td:nth-child(1){
        width: calc(64px * 1280 /1440) !important;
        text-align: center;
    }
    #gg-table_wrapper thead th:nth-child(2),#gg-table_wrapper tbody td:nth-child(2){
        width: calc(190px * 1280 /1440) !important;
        text-align: left;
        /*padding-left: 40px !important;*/
    }
    #gg-table_wrapper thead th:nth-child(3),#gg-table_wrapper tbody td:nth-child(3){
        width: calc(180px * 1280 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper thead th:nth-child(4),#gg-table_wrapper tbody td:nth-child(4){
        width: calc(180px * 1280 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper thead th:nth-child(5),#gg-table_wrapper tbody td:nth-child(5){
        width: calc(152px * 1280 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper thead th:nth-child(6),#gg-table_wrapper tbody td:nth-child(6){
        width: calc(162px * 1280 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper thead th:nth-child(7),#gg-table_wrapper tbody td:nth-child(7){
        width: calc(150px * 1280 /1440) !important;
        text-align: left;
    }
    #xj-table_wrapper thead th:nth-child(1),#xj-table_wrapper tbody td:nth-child(1){
        width: calc(64px * 1280 /1440) !important;
        text-align: center;
    }
    #xj-table_wrapper thead th:nth-child(2),#xj-table_wrapper tbody td:nth-child(2){
        width: calc(64px * 1280 /1440) !important;
        text-align: left;
    }
    #xj-table_wrapper thead th:nth-child(3),#xj-table_wrapper tbody td:nth-child(3){
        width: calc(800px * 1280 /1440) !important;
        text-align: left;
    }
    #xj-table_wrapper thead th:nth-child(4),#xj-table_wrapper tbody td:nth-child(4){
        width: calc(150px * 1280 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper tbody td[class=dataTables_empty],#zx-table_wrapper tbody td[class=dataTables_empty],#xj-table_wrapper tbody td[class=dataTables_empty]{
        width: 100% !important;
    }
}
@media all and (min-width: 1440px){
    .left>ul>li:nth-child(3)>a>img{
        margin-left: calc(160px * 1440 /1440);
    }

    .information-table{
        width: calc(1078px * 1440 /1440);
    }

    .read-main{
        /*height: calc(680px * 1440 /1440);*/
    }
    .read-main>div:nth-child(1){
        width: calc(100% - calc(300px * 1280 /1440) * 1440 /1440);
    }
    .read-main>div:nth-child(2){
        height: calc(656px * 1440 /1440);
    }
    .read-main>div:nth-child(3){
        width: calc(448px * 1280 /1440);
    }
    .read-cover img{
        width:calc(330px * 1440 /1440);
        height: calc(212px * 1440 /1440);
    }

    .table-title{
        width: calc(190px * 1440 /1440);
    }
    .table-data{
        width: calc(210px * 1440 /1440);
        display: flex;
        align-items: center;
    }
    .table-name{
        width: calc(152px * 1440 /1440);
        display: flex;
        align-items: center;
    }
    #xj-table .table-title{
        width: calc(800px * 1440 /1440);
    }
    #zx-table_wrapper thead th:nth-child(1),#zx-table_wrapper tbody td:nth-child(1){
        width: calc(64px * 1440 /1440) !important;
        text-align: center;
    }
    #zx-table_wrapper thead th:nth-child(2),#zx-table_wrapper tbody td:nth-child(2){
        width: calc(64px * 1440 /1440) !important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(3),#zx-table_wrapper tbody td:nth-child(3){
        width: calc(190px * 1440 /1440) !important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(4),#zx-table_wrapper tbody td:nth-child(4){
        width: calc(164px * 1440 /1440) !important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(5),#zx-table_wrapper tbody td:nth-child(5){
        width: calc(164px * 1440 /1440)!important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(6),#zx-table_wrapper tbody td:nth-child(6){
        width: calc(152px * 1440 /1440) !important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(7),#zx-table_wrapper tbody td:nth-child(7){
        width: calc(122px * 1440 /1440) !important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(8),#zx-table_wrapper tbody td:nth-child(8){
        width: calc(150px * 1440 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper thead th:nth-child(1),#gg-table_wrapper tbody td:nth-child(1){
        width: calc(64px * 1440 /1440) !important;
        text-align: center;
    }
    #gg-table_wrapper thead th:nth-child(2),#gg-table_wrapper tbody td:nth-child(2){
        width: calc(190px * 1440 /1440) !important;
        text-align: left;
        /*padding-left: 40px !important;*/
    }
    #gg-table_wrapper thead th:nth-child(3),#gg-table_wrapper tbody td:nth-child(3){
        width: calc(180px * 1440 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper thead th:nth-child(4),#gg-table_wrapper tbody td:nth-child(4){
        width: calc(180px * 1440 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper thead th:nth-child(5),#gg-table_wrapper tbody td:nth-child(5){
        width: calc(152px * 1440 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper thead th:nth-child(6),#gg-table_wrapper tbody td:nth-child(6){
        width: calc(162px * 1440 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper thead th:nth-child(7),#gg-table_wrapper tbody td:nth-child(7){
        width: calc(150px * 1440 /1440) !important;
        text-align: left;
    }
    #xj-table_wrapper thead th:nth-child(1),#xj-table_wrapper tbody td:nth-child(1){
        width: calc(64px * 1440 /1440) !important;
        text-align: center;
    }
    #xj-table_wrapper thead th:nth-child(2),#xj-table_wrapper tbody td:nth-child(2){
        width: calc(64px * 1440 /1440) !important;
        text-align: left;
    }
    #xj-table_wrapper thead th:nth-child(3),#xj-table_wrapper tbody td:nth-child(3){
        width: calc(800px * 1440 /1440) !important;
        text-align: left;
    }
    #xj-table_wrapper thead th:nth-child(4),#xj-table_wrapper tbody td:nth-child(4){
        width: calc(150px * 1440 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper tbody td[class=dataTables_empty],#zx-table_wrapper tbody td[class=dataTables_empty],#xj-table_wrapper tbody td[class=dataTables_empty]{
        width: 100% !important;
    }
}
@media all and (min-width: 1680px){
    .left>ul>li:nth-child(3)>a>img{
        margin-left: calc(160px * 1680 /1440);
    }

    .information-table{
        width: calc(1078px * 1680 /1440);
    }

    .read-main{
        /*height: calc(680px * 1680 /1440);*/
    }
    .read-main>div:nth-child(1){
        width: calc(100% - calc(300px * 1280 /1440) * 1440 /1440);
    }
    .read-main>div:nth-child(2){
        height: calc(656px * 1680 /1440);
    }
    .read-main>div:nth-child(3){
        width: calc(448px * 1280 /1440);
    }
    .read-cover img{
        width:calc(330px * 1680 /1440);
        height: calc(212px * 1680 /1440);
    }
    #Videos-table_wrapper {
        width: calc(1080px * 1680 /1440);
    }
    #Videos-table {
        width: calc(1080px * 1680 /1440) !important;
    }
    #Videos-table> tbody > tr{
        margin-right: 18px !important;
    }
    .table-title{
        width: calc(190px * 1680 /1440);
    }
    .table-data{
        width: calc(210px * 1680 /1440);
        display: flex;
        align-items: center;
    }
    .table-name{
        width: calc(152px * 1680 /1440);
        display: flex;
        align-items: center;
    }
    #xj-table .table-title{
        width: calc(800px * 1680 /1440);
    }
    #zx-table_wrapper thead th:nth-child(1),#zx-table_wrapper tbody td:nth-child(1){
        width: calc(64px * 1680 /1440) !important;
        text-align: center;
    }
    #zx-table_wrapper thead th:nth-child(2),#zx-table_wrapper tbody td:nth-child(2){
        width: calc(64px * 1680 /1440) !important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(3),#zx-table_wrapper tbody td:nth-child(3){
        width: calc(190px * 1680 /1440) !important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(4),#zx-table_wrapper tbody td:nth-child(4){
        width: calc(164px * 1680 /1440) !important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(5),#zx-table_wrapper tbody td:nth-child(5){
        width: calc(164px * 1680 /1440)!important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(6),#zx-table_wrapper tbody td:nth-child(6){
        width: calc(152px * 1680 /1440) !important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(7),#zx-table_wrapper tbody td:nth-child(7){
        width: calc(122px * 1680 /1440) !important;
        text-align: left;
    }
    #zx-table_wrapper thead th:nth-child(8),#zx-table_wrapper tbody td:nth-child(8){
        width: calc(150px * 1680 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper thead th:nth-child(1),#gg-table_wrapper tbody td:nth-child(1){
        width: calc(64px * 1680 /1440) !important;
        text-align: center;
    }

    #gg-table_wrapper thead th:nth-child(2),#gg-table_wrapper tbody td:nth-child(2){
        width: calc(190px * 1680 /1440) !important;
        text-align: left;
        /*padding-left: 40px !important;*/
    }
    #gg-table_wrapper thead th:nth-child(3),#gg-table_wrapper tbody td:nth-child(3){
        width: calc(180px * 1680 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper thead th:nth-child(4),#gg-table_wrapper tbody td:nth-child(4){
        width: calc(180px * 1680 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper thead th:nth-child(5),#gg-table_wrapper tbody td:nth-child(5){
        width: calc(152px * 1680 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper thead th:nth-child(6),#gg-table_wrapper tbody td:nth-child(6){
        width: calc(162px * 1680 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper thead th:nth-child(7),#gg-table_wrapper tbody td:nth-child(7){
        width: calc(150px * 1680 /1440) !important;
        text-align: left;
    }
    #xj-table_wrapper thead th:nth-child(1),#xj-table_wrapper tbody td:nth-child(1){
        width: calc(64px * 1680 /1440) !important;
        text-align: center;
    }
    #xj-table_wrapper thead th:nth-child(2),#xj-table_wrapper tbody td:nth-child(2){
        width: calc(64px * 1680 /1440) !important;
        text-align: left;
    }
    #xj-table_wrapper thead th:nth-child(3),#xj-table_wrapper tbody td:nth-child(3){
        width: calc(800px * 1680 /1440) !important;
        text-align: left;
    }
    #xj-table_wrapper thead th:nth-child(4),#xj-table_wrapper tbody td:nth-child(4){
        width: calc(150px * 1680 /1440) !important;
        text-align: left;
    }
    #gg-table_wrapper tbody td[class=dataTables_empty],#zx-table_wrapper tbody td[class=dataTables_empty],#xj-table_wrapper tbody td[class=dataTables_empty]{
        width: 100% !important;
    }
}
