.left li {
    list-style: none;
    line-height: 40px;
}
.left ul{
    list-style: none;
}
.left > ul:nth-child(1) {
    width: 100%;
    margin-top: 26px;
    text-align: left;
}
.left > ul:nth-child(3) {
    width: 100%;
    margin-top: 10px;
    text-align: left;
}
.left div{
    width: 242px;
    height: 1px;
    margin-top: 8px;
    margin-left: 40px;
    background-color: #d9d9d9;
}
.left>ul:nth-child(1)>li a{
    font-size: 15px !important;
    color: #3c6692;
}
.left > ul:nth-child(1) > li > a > img:nth-child(1) {
    padding-left: 40px;
    padding-right: 8px;
}
.left>ul:nth-child(3)>li a{
    color: #222;
    padding-left: 40px;
}
.left>ul:nth-child(3)>li a>img:nth-child(1){
    padding-right: 8px;
}
.selected-top-li {
    background-color: #e6f7ff;
    font-weight: bold;
    border-right: 2px solid #1890ff;
}
.selected-bottom-li {
    background-color: #e6f7ff;
    font-weight: bold;
    border-right: 2px solid #1890ff;
}

.mail-title{
    padding-top: 28px;
    margin-left: 72px;
    font-size: 20px !important;
    color: rgba(0, 0, 0, 0.85);
}
.mail-buttons{
    margin-top: 24px;
    margin-left: 72px;
}
.mail-buttons button{
    width: 82px;
    height: 32px;
}
.mail-buttons button img{
    margin-right: 8px;
}
.mail-buttons button:nth-child(n+2){
    margin-left: 16px;
}
.mail-recipients{
    margin-left: 72px;
    margin-top: 30px;
    width: 982px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
}
.mail-theme{
    margin-top: 12px;
    margin-left: 72px;
    width: 982px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #d9d9d9;
}

.mail-recipients>span{
    float: left;
    color: #3c6692;
}
.mail-theme>span{
    float: left;
    color: #314659;
}
.mail-theme>span>span{
    margin-left: 14px;
}
.mail-recipients>div,.mail-theme>div{
    float: left;
    height: 100%;
}
.mail-recipients>input:nth-child(2),.mail-theme>div:nth-child(2){
    width: 850px;
    height: calc(100% - 7px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    border: none;
    outline: none;
}
.mail-recipients>div:nth-child(3){
    position: absolute;
    right: 8px;
    top: 0;
}
.mail-recipients>div:nth-child(3) img{
    cursor: pointer;
}
.mail-attachment{
    margin-left: 72px;
    height: 40px;
    width: 982px;
    line-height: 40px;
    margin-top: 8px;
}
.mail-attachment ul{
    height: 100%;
    list-style: none;
}
.mail-attachment ul li{
    float: left;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}
.mail-attachment ul li a{
    color: #3c6692;
    height: 100%;
}
.mail-attachment ul li div{
    height: 12px;
    width: 1px;
    background-color: #3c6692;
    margin: 0 8px;
}
.mail-attachment ul li a img{
    margin-right: 8px;
}
#write-mail{
    height: 80% !important;
    overflow-y: auto;
}
#write-page .wangEditor-container{
    width: 982px;
    margin-left: 72px;
    border-radius: 4px;
    margin-bottom: 48px;
    height: 400px;
    border: 1px solid #d9d9d9;
}
#write-page .wangEditor-menu-container{
    position: static!important;
    width: calc(100% - 20px) !important;
    margin: 0 10px;
}
#write-page>div:last-child{
    margin-bottom: 20px;
}

.popBox-mask{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: 999;
    background-color: #000;
}
.popBox-content{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    border-radius: 8px;
    background-color: #fff;
}
#selectRecipients .popBox-content{
    width: 484px;
    height: 404px;
}
.selectRecipients-title{
    height: 56px;
    width: 100%;
    /*border-bottom: 1px solid #d9d9d9;*/
    font-size: 16px !important;
    color: rgba(0,0,0,0.85);
    padding-left: 24px;
    text-align: left;
    line-height: 56px;
    background-color: #f5f5f5;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    position: relative;
}
.pop-buttons{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.pop-buttons button{
    width: 64px;
    height: 32px;
}
.pop-buttons button:nth-child(2){
    margin: 0 24px 0 8px;
}
.selectRecipients-title div{
    height: 100%;
    position: absolute;
    right: 22px;
    top: 0;
}
.search{
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    height: 32px;
    width: 452px;
}
.search-member{
    width: 100%;
    height: 294px;
    border-bottom: 1px solid #d9d9d9;
    overflow-y: auto;
}
.search-member a{
    text-decoration: none;
    color: #0d1a26;
    width: 100%;
    display: inline-block;
    position: relative;
}
.search-member a:hover{
    color: #0d1a26 !important;
}
.search-member li {
    list-style: none;
    line-height: 40px;
    width: 100%;
}

.search-member > ul {
    width: 100%;
    text-align: left;
}
.search-member ul{
    list-style: none;
}

li > ul {
    margin: 0;
    text-align: left;
    width: 100%;
}
.search-member > ul > li > a > img:nth-child(1) {
    margin-left: 24px;
    transform: rotate(0deg);
}

.search-member > ul > li > a > img:nth-child(2) {
    padding-left: 6px;
    padding-right: 6px;
}

.search-member > ul > li > ul > li a {
    opacity: 1;
}
.search-member > ul > li > ul > li > a > img:nth-child(1) {
    margin-left: 36px;
    transform: rotate(-90deg);
}

.search-member > ul > li > ul > li > a > img:nth-child(2) {
    padding-left: 6px;
    padding-right: 6px;
}
.search-member > ul > li > ul > li > ul .member{
    padding-left: 52px;
}
.search-member > ul > li > ul > li > ul {
    display: none;
}
.search-member > ul > li > ul > li > ul > li > a > img:nth-child(1) {
    margin-left: 48px;
    transform: rotate(-90deg);
}

.search-member > ul > li > ul > li > ul > li > a > img:nth-child(2) {
    padding-left: 6px;
    padding-right: 6px;
}

.search-member > ul > li > ul > li > ul > li > ul {
    display: none;
}
.search-member > ul > li > ul > li > ul > li > ul .member{
    padding-left: 64px;
}

.search-member > ul > li > ul > li > ul > li > ul > li > a {
    padding-left: 60px;
}
.search-member > ul > li > ul > li > ul > li > ul > li>ul{
    display: none;
}

.search-member > ul > li > ul > li > ul > li > ul > li > a>img:nth-child(1){
    transform: rotate(-90deg);
}
.search-member > ul > li > ul > li > ul > li > ul > li > a>img:nth-child(2){
    padding-left: 6px;
    padding-right: 6px;
}
.search-member > ul > li > ul > li > ul > li > ul > li >ul .member{
    padding-left: 76px;
}
.search-member > ul > li > ul > li > ul > li > ul > li >ul>li>a>img:nth-child(2){
    padding-left: 6px;
    padding-right: 6px;
}
.search-member label{
    position: absolute;
    height: 100%;
    top: 0;
    right: 40px;
}
.search-member input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    display: none;
}

.search-member label input + span {
    margin-left: 10px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    background: url("../icon/9-xuanzhong.png") no-repeat;
    display: inline-block;
    background-position-x: 16px;
    background-position-y: 16px;
    margin-top: 12px;
    cursor: pointer;
}

.search-member label input:checked + span {
    border: none;
    background-position: center center;
}
.selected-search-li {
    background-color: #e6f7ff;
}
#read-page .mail-buttons{
    width: 982px;
    padding-top: 32px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 24px;
}
#read-page .mail-title:nth-child(2){
    margin-top: 20px;
    padding: 0;
}
#read-page .mail-title:nth-child(2) img{
    height: 22px;
    margin-left: 26px;
}
#read-page .mail-title:nth-child(8){
    margin: 12px 0 12px 72px;
    padding: 0;
}
#read-page .mail-title:nth-child(8) img{
    margin-right: 8px;
}
.mail-info{
    margin-left: 72px;
    display: flex;
    /*align-items: center;*/
}
.mail-info:nth-child(3){
    margin-top: 18px;
    margin-bottom: 12px;
}
.mail-info:nth-child(4){
    margin-bottom: 18px;
}
.mail-info div,.mail-data div,.mail-attachments div{
    float: left;
}
.mail-info>div:nth-child(1),.mail-data div:nth-child(1),.mail-attachments div:nth-child(1){
    color: #999;
    display: flex;
    align-items: center;
}
.mail-info>div:nth-child(2){
    border: 1px solid #c0d9ff;
    background-color: #e8f0f7;
    border-radius: 12px;
    padding: 2px 8px;
    color: #222;
    max-width: 900px;
}
.mail-data{
    margin-left: 72px;
    margin-top: 18px;
    display: flex;
    align-items: center;
}
.mail-data div:nth-child(2){
    color: #222;
}
.mail-data>div:nth-child(1) span,.mail-attachments>div:nth-child(1) span{
    margin-left: 14px;
}
.mail-attachments{
    margin-left: 72px;
    margin-top: 24px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.mail-attachments span{
    color: #999;
}
.mail-attachments span img{
    height: 18px;
    margin: 0 6px;
}
.mail-attachments a{
    color: #3c6692;
}
.upload-attachment{
    margin-left: 72px;
    margin-bottom: 14px;
}
.upload-attachment a,.upload-attachment a:hover{
    color: #1890ff;
}
.upload-attachment a:nth-child(1){
    color: #222;
}
.upload-attachment a:nth-child(1):hover{
    color: #1890ff;
}
.upload-attachment a:nth-child(2){
    margin-left: 40px;
}
.read-area{
    padding: 10px;
    width: 982px;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #d9d9d9;
    margin-left:72px;
}
.read-area ul,.read-area ol{
    padding-left: 20px;
}
.read-area *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}
.read-area table{
    border: none;
    border-collapse: collapse;
}
.read-area table td,.read-area table th{
    border: 1px solid #999;
    padding: 3px 5px;
    min-width: 50px;
    height: 20px;
}
.read-area blockquote{
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
}
.attachments{
    height: auto;
    overflow: hidden;
    margin-left: 72px;
    width: 982px;
    border-top: 1px solid #d9d9d9;
    margin-bottom: 20px;
}
.attachment{
    margin-top: 32px;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.attachment>div{
    float: left;
    color: #222;
}
.attachment>div:nth-child(2){
    margin-left: 20px;
}
.attachment>div:nth-child(2)>div:nth-child(1) span{
    color: #999;
}
.attachment>div:nth-child(2)>div:nth-child(2){
    margin-top: 6px;
}
.attachment a{
    color: #3c6692;
}
.wangEditor-fullscreen{
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}
.mails-type1{
    margin-left: 72px;
    width: 982px;
    margin-top: 24px;
    margin-bottom: 20px;
}
.mails-type1 input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    display: none;
}

.mails-type1 label input + span {
    /*margin-left: 24px;*/
    /*margin-right: 24px;*/
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #d9d9d9 !important;
    box-sizing: border-box;
    background: url("../../resources/icon/duihao.png") no-repeat;
    background-position-x: 16px;
    background-position-y: 16px;
    display: block;
    /*margin-top: 2px;*/
}

.mails-type1 label input:checked + span {
    border: 1px solid #1890ff !important;
    background-position: center center;
}
.dataTables_info{
    display: none;
}
.dataTables_wrapper .row:first-child,.dataTables_wrapper .row:last-child{
    background-color: #fff;
    padding: 0;
}
.dataTables_scrollBody{
    height: 520px !important;
}
.mails-type1 thead *,.mails-type1 tbody *,.table,.table{
    border: none !important;
}
.mails-type1 tr[role=row]{
    height: 48px !important;
    display: flex;
    align-items: center;
}

#mails-type1 thead,#mails-type2 thead{
    display: none !important;
}
.row{
    border: none !important;
}
.table > thead > tr{
    background: #f5f5f5;
    color: #222;
}
.table > tbody > tr{
    background: #fff;
    color: #222;
    border-bottom: 1px solid #d9d9d9 !important;
}
.table > tbody > tr{
    /*background-color: red;*/
}
.table tr td{
    background-color: #fff !important;

}
.dataTable > thead > tr > th{
    padding: 0 !important;
    color: #222 !important;
    font-weight: normal!important;
}

tbody td{
    padding: 0 !important;
    vertical-align: inherit !important;
}
.mails-type1 thead th:nth-child(1) label,.mails-type1 tbody td:nth-child(1) label{
    /*height: 47px;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mails-type1 thead th:nth-child(2),.mails-type1 tbody td:nth-child(2){
    /*height: 47px;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mails-type1 thead th:nth-child(1),.mails-type1 tbody td:nth-child(1){
    width: 64px !important;
    text-align: center;
}
.mails-type1 thead th:nth-child(2),.mails-type1 tbody td:nth-child(2){
    width: 61px !important;
    text-align: left;
}
.mails-type1 thead th:nth-child(3),.mails-type1 tbody td:nth-child(3){
    width: 150px !important;
    text-align: left;
}
.mails-type1 thead th:nth-child(4),.mails-type1 tbody td:nth-child(4){
    width: 450px !important;
}
.mails-type1 thead th:nth-child(5),.mails-type1 tbody td:nth-child(5){
    width: 205px !important;
    text-align: center;
}
.mails-type1 thead th:nth-child(6),.mails-type1 tbody td:nth-child(6){
    width: 52px !important;
    text-align: center;
}
thead th:nth-child(5){
    text-align: center !important;
}
td>div,th>div{
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
.mail-table-name{
    width: 150px;
    display: flex;
    align-items: center;
    height: 47px;
    cursor: pointer;
}
.mail-table-name div,.mail-table-theme div{
    width: 100%;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
.mail-table-theme{
    width: 450px;
    cursor: pointer;
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 47px;
}
.mail-table-theme *,.mail-table-data *,.mail-table-name *{
    cursor: pointer;
}
.mail-table-theme span:nth-child(2){
    color: #999;
    margin-left: 8px;
}
.mail-table-data{
    color: #999;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    padding-right: 25px;
}
.mail-table-star{
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mail-table-star img{
    height: 20px;
}
.mail-table-data img{
    margin-right: 6px;
}
.pagination a *{
    cursor: pointer;
}
.pagination>.disabled>a *{
    cursor: not-allowed;
}
.previous a,.next a{
    border-radius: 4px !important;
    border: 1px solid #d9d9d9;
    margin-left: 6px;
    background-color: #fff;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.next a img{
    transform: rotate(180deg);
}
.paginate_button a{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff !important;
    border: 1px solid #d9d9d9 !important;
    margin-left: 6px !important;
    color: rgba(0,0,0,0.65) !important;
}
.pagination > li > a, .pager > li > a{
    border-radius: 4px !important;
}
.active a{
    border: 1px solid #1890ff !important;
    color: #1890ff !important;
}
.ui-menu{
    z-index: 10000;
}
.bootbox-confirm .modal-header{
    color: #222;
}
@media all and (max-width: 1439px) {

    .left div{
        width: calc(242px * 1280 / 1440);
        margin-left: calc(40px * 1280 / 1440);
    }

    .left>ul:nth-child(3)>li a{
        padding-left: calc(40px * 1280 / 1440);
    }

    .mail-recipients{
        width: calc(982px * 1280 / 1440);
    }
    .mail-theme{
        width: calc(982px * 1280 / 1440);
    }


    .mail-recipients>input:nth-child(2),.mail-theme>div:nth-child(2){
        width:calc(850px * 1280 / 1440);
    }

    .mail-attachment{
        width: calc(982px * 1280 / 1440);
    }


    #write-page .wangEditor-container{
        width: calc(982px * 1280 / 1440);
        margin-bottom: calc(48px * 1280 / 1440);
        height: calc(400px * 1280 / 1440);
    }

    .selectRecipients-title{
        padding-left: calc(24px * 1280 / 1440);
    }

    .search input{
        width: calc(452px * 1280 / 1440);
    }

    .read-area{
        width: calc(982px * 1280 / 1440);
    }
    .attachments{
        width: calc(982px * 1280 / 1440);
    }

    .mails-type1{
        width: calc(982px * 1280 / 1440);
    }

    .mail-table-name{
        width: calc(150px * 1280 / 1440);
    }
    .mail-table-theme{
        width: calc(450px * 1280 / 1440);
    }
    .table thead:first-child tr:first-child th{
        /*padding-left: 40px !important;*/
    }
    .mails-type1 thead th:nth-child(1),.mails-type1 tbody td:nth-child(1){
        width: calc(64px * 1280 / 1440) !important;
    }
    .mails-type1 thead th:nth-child(2),.mails-type1 tbody td:nth-child(2){
        width: calc(61px * 1280 / 1440) !important;
        text-align: left;
    }
    .mails-type1 thead th:nth-child(3),.mails-type1 tbody td:nth-child(3){
        width: calc(150px * 1280 / 1440) !important;
        text-align: left;
    }
    .mails-type1 thead th:nth-child(4),.mails-type1 tbody td:nth-child(4){
        width:calc(450px * 1280 / 1440) !important;
    }
    .mails-type1 thead th:nth-child(5),.mails-type1 tbody td:nth-child(5){
        width: calc(205px * 1280 / 1440) !important;
        text-align: center;
    }
    .mails-type1 thead th:nth-child(6),.mails-type1 tbody td:nth-child(6){
        width: calc(52px * 1280 / 1440) !important;
        text-align: center;
    }
}
@media all and (min-width: 1440px) {

    .left div{
        width: calc(242px * 1440 / 1440);
        margin-left: calc(40px * 1440 / 1440);
    }

    .left>ul:nth-child(3)>li a{
        padding-left: calc(40px * 1440 / 1440);
    }

    .mail-recipients{
        /*margin-left: calc(72px * 1440 / 1440);*/
        width: calc(982px * 1440 / 1440);
    }
    .mail-theme{
        margin-top: calc(12px * 1440 / 1440);
        /*margin-left: calc(72px * 1440 / 1440);*/
        width: calc(982px * 1440 / 1440);
    }

    .mail-recipients>input:nth-child(2),.mail-theme>div:nth-child(2){
        width:calc(850px * 1440 / 1440);
    }

    .mail-attachment{
        /*margin-left: calc(72px * 1440 / 1440);*/
        width: calc(982px * 1440 / 1440);
    }

    #write-page .wangEditor-container{
        width: calc(982px * 1440 / 1440);
        /*margin-left: calc(72px * 1440 / 1440);*/
        margin-bottom: calc(48px * 1440 / 1440);
        height: calc(400px * 1440 / 1440);
    }

    .selectRecipients-title{
        padding-left: calc(24px * 1440 / 1440);
    }

    .search input{
        width: calc(452px * 1440 / 1440);
    }

    .read-area{
        width: calc(982px * 1440 / 1440);
    }
    .attachments{
        width: calc(982px * 1440 / 1440);
    }

    .mails-type1{
        width: calc(982px * 1440 / 1440);
    }


    .mail-table-name{
        width: calc(150px * 1440 /1440);
    }
    .mail-table-theme{
        width: calc(450px * 1440 /1440);
    }
    .table thead:first-child tr:first-child th{
        /*padding-left: 60px !important;*/
    }
    .mails-type1 thead th:nth-child(1),.mails-type1 tbody td:nth-child(1){
        width: calc(64px * 1440 / 1440) !important;
    }
    .mails-type1 thead th:nth-child(2),.mails-type1 tbody td:nth-child(2){
        width: calc(61px * 1440 / 1440) !important;
        text-align: left;
    }
    .mails-type1 thead th:nth-child(3),.mails-type1 tbody td:nth-child(3){
        width: calc(150px * 1440 / 1440) !important;
        text-align: left;
    }
    .mails-type1 thead th:nth-child(4),.mails-type1 tbody td:nth-child(4){
        width:calc(450px * 1440 / 1440) !important;
    }
    .mails-type1 thead th:nth-child(5),.mails-type1 tbody td:nth-child(5){
        width: calc(205px * 1440 / 1440) !important;
        text-align: center;
    }
    .mails-type1 thead th:nth-child(6),.mails-type1 tbody td:nth-child(6){
        width: calc(52px * 1440 / 1440) !important;
        text-align: center;
    }
}
@media all and (min-width: 1680px) {

    .left div{
        width: calc(242px * 1680 / 1440);
        margin-left: calc(40px * 1680 / 1440);
    }

    .left>ul:nth-child(3)>li a{
        padding-left: calc(40px * 1680 / 1440);
    }

    .mail-recipients{
        /*margin-left: calc(72px * 1680 / 1440);*/
        width: calc(982px * 1680 / 1440);
    }
    .mail-theme{
        margin-top: calc(12px * 1680 / 1440);
        /*margin-left: calc(72px * 1680 / 1440);*/
        width: calc(982px * 1680 / 1440);
    }
    .mail-recipients>input:nth-child(2),.mail-theme>div:nth-child(2){
        width:calc(850px * 1680 / 1440);
    }

    .mail-attachment{
        /*margin-left: calc(72px * 1680 / 1440);*/
        width: calc(982px * 1680 / 1440);
    }
    .upload-attachment{
        /*margin-left: calc(72px * 1680 / 1440);*/
    }
    #write-page .wangEditor-container{
        width: calc(982px * 1680 / 1440);
        /*margin-left: calc(72px * 1680 / 1440);*/
        margin-bottom: calc(48px * 1680 / 1440);
        height: calc(400px * 1680 / 1440);
    }

    .selectRecipients-title{
        padding-left: calc(24px * 1680 / 1440);
    }

    .search input{
        width: calc(452px * 1680 / 1440);
    }

    .read-area{
        width: calc(982px * 1680 / 1440);
    }
    .attachments{
        width: calc(982px * 1680 / 1440);
    }
   .mails-type1{
        width: calc(982px * 1680 / 1440);
    }

    .mail-table-name{
        width: calc(150px * 1680 /1440);
    }
    .mail-table-theme{
        width: calc(450px * 1680 /1440);
    }
    .table thead:first-child tr:first-child th{
        /*padding-left: 100px !important;*/
    }
    .mails-type1 thead th:nth-child(1),.mails-type1 tbody td:nth-child(1){
        width: calc(64px * 1680 / 1440) !important;
    }
    .mails-type1 thead th:nth-child(2),.mails-type1 tbody td:nth-child(2){
        width: calc(61px * 1680 / 1440) !important;
        text-align: left;
    }
    .mails-type1 thead th:nth-child(3),.mails-type1 tbody td:nth-child(3){
        width: calc(150px * 1680 / 1440) !important;
        text-align: left;
    }
    .mails-type1 thead th:nth-child(4),.mails-type1 tbody td:nth-child(4){
        width:calc(450px * 1680 / 1440) !important;
    }
    .mails-type1 thead th:nth-child(5),.mails-type1 tbody td:nth-child(5){
        width: calc(205px * 1680 / 1440) !important;
        text-align: center;
    }
    .mails-type1 thead th:nth-child(6),.mails-type1 tbody td:nth-child(6){
        width: calc(52px * 1680 / 1440) !important;
        text-align: center;
    }
}