label{
    margin-bottom: 0;
}


.left a:hover{
    color: #1890ff !important;
}

.left li {
    list-style: none;
    line-height: 40px;
    width: 100%;
}

.left ul{
    list-style: none;
}
.left > ul {
    width: 100%;
    margin-top: 26px;
    text-align: left;
}

li > ul {
    margin: 0;
    text-align: left;
    width: 100%;
}

.left > ul > li > a > img:nth-child(1) {
    margin-left: 40px;
    transform: rotate(0deg);
}

.left > ul > li > a > img:nth-child(2) {
    padding-left: 6px;
    padding-right: 6px;
}

.left > ul > li > ul > li a {
    margin-top: 8px;
    color: #314659;
    opacity: 1;
}

.left > ul > li > ul > li > a > img:nth-child(1) {
    margin-left: 52px;
    transform: rotate(-90deg);
}

.left > ul > li > ul > li > a > img:nth-child(2) {
    padding-left: 6px;
    padding-right: 6px;
}

.left > ul > li > ul > li > ul {
    display: none;
}

.left > ul > li > ul > li > ul > li > a > img:nth-child(1) {
    margin-left: 62px;
    transform: rotate(-90deg);
}

.left > ul > li > ul > li > ul > li > a > img:nth-child(2) {
    padding-left: 6px;
    padding-right: 6px;
}

.left > ul > li > ul > li > ul > li > ul {
    display: none;
}

.left > ul > li > ul > li > ul > li > ul > li > a {
    padding-left: 124px;
}

.selected-li {
    background-color: #e6f7ff;
    color: #1890ff !important;
    border-right: 2px solid #1890ff;
}

.organization-info {
    width: 1128px;
    margin-top: 16px;
    margin-left: 16px;
    min-height: 180px;
    height: auto;
    background-color: #fff;
    text-align: left;
}
.organization-info>label{
    margin-top: 4px;
    margin-left: 25px;
    margin-bottom: 16px;
    width: 800px;
}
.organization-title {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

#search{
    width: 240px;
    height: 32px;
    position: absolute;
    top: 20px;
    right: 100px;
    /*background: url("../../resources/icon/search.png") no-repeat calc(100% - 10px) 50%;*/
    padding-right: 35px;
}
.organization-title>img{
    position: absolute;
    top: 26px;
    right: 110px;
    cursor: pointer;
}

.organization-info-title {
    font-size: 24px !important;
    color: rgba(0, 0, 0, 0.85);
    /*opacity: 0.85;*/
    padding-left: 25px;
    padding-top: 20px;
    float: left;
}

.organization-title button {
    margin-top: 22px;
    margin-left: 24px;
    height: 32px;
    width: 82px;
}

#name {
    margin-top: 16px;
    margin-left: 25px;
    color: #888888;
}

.organization-infos {
    margin-top: 36px;
    margin-left: 25px;
}

.organization-infos label {
    color: #314659;
}

.organization-infos label:nth-child(n+2) {
    margin-left: 80px;
}

.organization-detail {
    width: 1128px;
    margin-top: 16px;
    margin-left: 16px;
    height: auto;
    background-color: #fff;
    text-align: left;
    margin-bottom: -100000px;
    padding-bottom: 100000px;
}


.member-title {
    padding-top: 24px;
}

.department-title {
    padding-top: 40px;
}

.detail-title {
    margin-left: 24px;
    font-size: 20px !important;
    color: rgba(0, 0, 0, 0.85);
    /*color: #000;*/
    /*opacity: 0.85;*/
    display: flex;
    align-items: center;
}

.detail-title img {
    margin-right: 8px;
}

.detail-buttons {
    margin-left: 24px;
    margin-top: 32px;
}

.detail-buttons button:nth-child(1) {
    height: 32px;
    width: 82px;
}

.detail-buttons button:nth-child(n+2) {
    margin-left: 40px;
    height: 32px;
    width: 82px;
}
.organization-detail div:nth-child(5) .main-button{
    width: 98px;
}

#members, #departments {
    margin-top: 28px;
    height: auto;
    overflow: hidden;
}

.members {
    height: auto;
    overflow: hidden;
}

.members-row-header {
    width: 1080px;
    height: 48px;
    background-color: #e6f7ff;
    margin-left: 24px;
    line-height: 48px;
}

.members-row-header div, .members-row div {
    float: left;
}

.members-row-header div:nth-child(1) {
    margin-left: 120px;
    color: #314659;
    width: 148px;
}

.members-row-header div:nth-child(2) {
    color: #314659;
    width: 600px;
}

.members-row {
    width: 1080px;
    height: 48px;
    margin-left: 24px;
    display: inline-block;
    line-height: 48px;
    border-bottom: 1px solid #ebedf0;
    text-align: left;
}

.members-row div:nth-child(1) {
    width: 120px;
}

.members-row div:nth-child(2) {
    width: 148px;
    color: #314659;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.members-row div:nth-child(3) {
    width: 600px;
    color: #888888;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    height: 48px;
}
.members-row div:nth-child(4){
    width: 200px;
    color: #888888;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    display: none;
}

label input + span {
    margin-left: 10px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    background: url("../../resources/icon/duihao.png") no-repeat;
    display: inline-block;
    background-position-x: 16px;
    background-position-y: 16px;
}

label input:checked + span {
    border: 1px solid #1890ff;
    background-position: center center;
}


#departments {
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
}
.departments{
    list-style: none;
}
.adjust-position {
    width: 1080px;
    height: 40px;
    background: #fff8e4;
    text-align: center;
    margin-left: 24px;
    line-height: 40px;
    color: #314659;
    position: relative;
}

.adjust-position a:nth-child(1) {
    position: absolute;
    margin-left: 24px;
    color: #1890ff;
}

.adjust-position a:nth-child(2) {
    position: absolute;
    margin-left: 76px;
    color: #1890ff;
}

#departments > ul > li > ul {
    display: none;
    list-style: none;
}

#departments > ul > li > ul>li{
    line-height: 40px;
}
#departments > ul > li > ul>li>a{
    color: #314659;
    padding-left: 44px;
    border-bottom: 1px solid #ebedf0;
    width: 1000px;
    display: block;
}
#departments > ul > li {
    line-height: 0;
    width: 1080px;
    /*line-height: 40px;*/
    margin-left: 24px;
    /*height: 40px;*/
}

.ui-sortable-helper {
    background-color: #f5f5f5 !important;
}

#departments > ul > li > a {
    width: 1000px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #314659;
    line-height: 40px;
    border-bottom: 1px solid #ebedf0;
}

#departments > ul > li > a > img {
    margin: -4px 16px 0 16px;
    /*transform: rotate(-90deg);*/
}

.pop{
    position: fixed;
    height: auto;
    /*min-height: 900px;*/
    overflow-y: auto;
    width: 390px;
    background-color: white;
    right: 0;
    top: 0;
    bottom:0;
    z-index: 2000;
    display: inline-block;
    box-shadow: 0 0 20px 1px #d9d9d9;
    text-align: left;
}
.pop label {
    margin-left: 48px;
    color: #888888;
    margin-bottom: 0;
}

.pop button {
    height: 32px;
    width: 82px;
}

.pop-title {
    margin-left: 48px;
    margin-top: 32px;
    font-size: 18px !important;
    color: rgba(0, 0, 0, 0.85);
    /*color: #000;*/
    /*opacity: 0.85;*/
    display: flex;
    align-items: center;
}

.pop-title img {
    margin-right: 6px;
}

.pop-title span {
    color: #888888;
    margin-left: 6px;
}

.pop-tip {
    margin-left: 48px;
    margin-top: 24px;
    color: #1890ff;
}

.pop-lines {
    margin-left: 48px;
    margin-top: 14px;
    width: 294px;
    height: auto;
    overflow: hidden;
}

.pop-lines div:nth-child(1) {
    width: 126px;
    height: 2px;
    float: left;
    background-color: #1890ff;
}

.pop-lines div:nth-child(2) {
    margin-top: 1px;
    width: 168px;
    height: 1px;
    float: left;
    background-color: #d9d9d9;
}
.add-member label:nth-child(4) span:nth-child(2),.edit-member label:nth-child(4) span:nth-child(2){
    margin-left: 7px;
    margin-right: 7px;
}
.add-member label:nth-child(5) span:nth-child(2),.edit-member label:nth-child(5) span:nth-child(2){
    margin-left: 28px;
}
.add-member label:nth-child(8) span:nth-child(2),.edit-member label:nth-child(8) span:nth-child(2){
    margin-left: 28px;
}
.add-member label:nth-child(10) span:nth-child(2),.edit-member label:nth-child(10) span:nth-child(2){
    margin-left: 28px;
}
.edit-member label:nth-child(9),.edit-member label:nth-child(10){
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -100;
    opacity: 0;
}
.add-member label:nth-child(11) span:nth-child(2),.edit-member label:nth-child(11) span:nth-child(2){
    margin-left: 28px;
}
.add-member div:nth-child(12),.edit-member div:nth-child(12){
    margin-top: 30px;
}
.add-member label:nth-child(13),.edit-member label:nth-child(13){
    margin-top: 28px;
}
.add-member label:nth-child(13) span:nth-child(2),.edit-member label:nth-child(13) span:nth-child(2){
    margin-left: 28px;
}
.add-member label:nth-child(14) span:nth-child(2),.edit-member label:nth-child(14) span:nth-child(2){
    margin-left: 28px;
}

.add-member label:nth-child(4) {
    margin-top: 28px;
}

.edit-info label:nth-child(4), .add-department label:nth-child(4), .edit-member label:nth-child(4) {
    margin-top: 32px;
}

.edit-info label:nth-child(n+5), .add-department label:nth-child(n+5), .edit-member label:nth-child(n+5), .add-member label:nth-child(n+5) {
    margin-top: 24px;
}

.pop label > span:nth-child(1) {
    color: #fb2020;
}

.edit-member label:nth-child(4) span:nth-child(3) {
    padding-left: 7px;
    color: #314659;
}

.add-department label span:nth-child(2) {
    color: #fb2020;
}

.edit-info label input, .add-department label input {
    margin-top: 12px;
    width: 294px;
    height: 32px;
    color: #314659;
}

.add-member label input, .edit-member label input {
    width: 240px;
    height: 32px;
    color: #314659;
}

.edit-info-buttons, .edit-member-buttons {
    height: auto;
    top: 820px;
    position: absolute;
    right: 48px;
    margin-bottom: 48px;
    text-align: center;
    width: 305px;
}

.add-member-buttons, .add-department-buttons {
    width: 100%;
    height: auto;
    top: 820px;
    position: absolute;
    right: 0;
    text-align: center;
    margin-bottom: 48px;
}

.edit-info-buttons button:nth-child(2), .edit-member-buttons button:nth-child(2) {
    margin-left: 16px;
    width: 98px;
}

.edit-info-buttons button:nth-child(3), .edit-member-buttons button:nth-child(3) {
    margin-left: 16px;
}

.add-member-buttons button:nth-child(2), .add-department-buttons button:nth-child(2) {
    margin-left: 32px;
}
.mask{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1000;
    display: none;
}
.bootbox-confirm .modal-header{
    color: #fb2020;
}
@media all and (max-width: 1439px){


    .left > ul > li > a > img:nth-child(1) {
        margin-left: calc(40px * 1280 /1440);
    }


    .left > ul > li > ul > li > a > img:nth-child(1) {
        margin-left: calc(52px * 1280 /1440);
    }

    .left > ul > li > ul > li > ul > li > a > img:nth-child(1) {
        margin-left: calc(62px * 1280 /1440);
    }


    .left > ul > li > ul > li > ul > li > ul > li > a {
        padding-left: calc(124px * 1280 /1440);
    }


    .organization-info {
        width: calc(1128px * 1280 /1440);
    }
    .organization-infos label:nth-child(n+2) {
        margin-left: calc(80px * 1280 /1440);
    }

    .organization-detail {
        width: calc(1128px * 1280 /1440);
    }


    .members-row-header {
        width: calc(1080px * 1280 /1440);
    }

    .members-row-header div:nth-child(1) {
        width: calc(148px * 1280 /1440);
    }
    .members-row-header div:nth-child(2) {
        width: calc(600px * 1280 /1440);
    }

    .members-row {
        width: calc(1080px * 1280 /1440);
    }

    .members-row div:nth-child(2) {
        width: calc(148px * 1280 /1440);
    }

    .members-row div:nth-child(3) {
        width: calc(600px * 1280 /1440);
    }


    .adjust-position {
        width: calc(1080px * 1280 /1440);
    }


    #departments > ul > li {
        width: calc(1080px * 1280 /1440);
    }

    #departments > ul > li > a ,#departments > ul > li > ul>li>a{
        width: calc(1000px * 1280 /1440);
    }
}
@media all and (min-width: 1440px){



    .left > ul > li > a > img:nth-child(1) {
        margin-left: calc(40px * 1440 /1440);
    }


    .left > ul > li > ul > li > a > img:nth-child(1) {
        margin-left: calc(52px * 1440 /1440);
    }

    .left > ul > li > ul > li > ul > li > a > img:nth-child(1) {
        margin-left: calc(62px * 1440 /1440);
    }


    .left > ul > li > ul > li > ul > li > ul > li > a {
        padding-left: calc(124px * 1440 /1440);
    }


    .organization-info {
        width: calc(1128px * 1440 /1440);
    }
    .organization-infos label:nth-child(n+2) {
        margin-left: calc(80px * 1440 /1440);
    }

    .organization-detail {
        width: calc(1128px * 1440 /1440);
    }


    .members-row-header {
        width: calc(1080px * 1440 /1440);
    }

    .members-row-header div:nth-child(1) {
        width: calc(148px * 1440 /1440);
    }
    .members-row-header div:nth-child(2) {
        width: calc(600px * 1440 /1440);
    }
    .members-row {
        width: calc(1080px * 1440 /1440);
    }

    .members-row div:nth-child(2) {
        width: calc(148px * 1440 /1440);
    }

    .members-row div:nth-child(3) {
        width: calc(600px * 1440 /1440);
    }

    .adjust-position {
        width: calc(1080px * 1440 /1440);
    }

    #departments > ul > li {
        width: calc(1080px * 1440 /1440);
    }

    #departments > ul > li > a ,#departments > ul > li > ul>li>a{
        width: calc(1000px * 1440 /1440);
    }


}
@media all and (min-width: 1680px){



    .left > ul > li > a > img:nth-child(1) {
        margin-left: calc(40px * 1680 /1440);
    }


    .left > ul > li > ul > li > a > img:nth-child(1) {
        margin-left: calc(52px * 1680 /1440);
    }

    .left > ul > li > ul > li > ul > li > a > img:nth-child(1) {
        margin-left: calc(62px * 1680 /1440);
    }


    .left > ul > li > ul > li > ul > li > ul > li > a {
        padding-left: calc(112px * 1680 /1440);
    }


    .organization-info {
        width: calc(1128px * 1680 /1440);
    }

    .organization-infos label:nth-child(n+2) {
        margin-left: calc(80px * 1680 /1440);
    }

    .organization-detail {
        width: calc(1128px * 1680 /1440);
    }




    .members-row-header {
        width: calc(1080px * 1680 /1440);
    }

    .members-row-header div:nth-child(1) {
        width: calc(148px * 1680 /1440);
    }
    .members-row-header div:nth-child(2) {
        width: calc(600px * 1680 /1440);
    }
    .members-row {
        width: calc(1080px * 1680 /1440);
    }


    .members-row div:nth-child(2) {
        width: calc(148px * 1680 /1440);
    }

    .members-row div:nth-child(3) {
        width: calc(600px * 1680 /1440);
    }


    .adjust-position {
        width: calc(1080px * 1680 /1440);
    }


    #departments > ul > li {
        width: calc(1080px * 1680 /1440);
    }

    #departments > ul > li > a ,#departments > ul > li > ul>li>a{
        width: calc(1000px * 1680 /1440);
    }

}